<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>moyeora</title>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<h1>templates/chat/test.html</h1>

<button id="connect" type="button">connect</button>
<form data-th-action="@{/chatTest}" method="post">
  <div style="color:blue;">
    schoolNo: <input name="schoolNo" value="3">
    sender: <input name="sender" value="1">
    message: <input name="message" type="text">
    photo: <input name="photo" type="text">
    sendDate: <input name="sendDate" type="text">
  </div>
  <div>
    <input type="submit" value="전송">
  </div>
</form>
<div data-th-replace="footer :: footer">꼬리말</div>


<script>
function connect(event) {
  var socket = new socketJS("/ws");
  stompClient Stomp.over(socket);
  stompClient.connect({}, onConnected, onError);
  event.preventDefault();
}
</script>
</body>
</html>