<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <!-- FullCalendar 라이브러리의 6.1.11 버전을 가져옵니다.   -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css" rel="stylesheet">
    <!--FullCalendar 라이브러리의 5.10.1 버전의 CSS 파일을 가져옵니다.    -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
    <!--FullCalendar 라이브러리의 5.10.1 버전을 가져옵니다.    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!--Moment.js 라이브러리의 2.18.1 버전을 가져옵니다.    -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>
    <!--FullCalendar 라이브러리의 5.10.1 버전의 로케일 파일을 가져옵니다.-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
          var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
          });
          calendar.render();
        });
<!--캘린더를 초기화하고 뷰를 랜더링하는 역할을 한다.    -->
    </script>
    

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    
    
<style>
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr { height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
</style>




</head>
<body>


<div id='calendar'></div>

<script>

    let calendar;
    
    window.onload = function() {
        // 페이지가 완전히 출력된 후 수행할 작업을 둔다.
        // 서버에서 일정 정보를 가져오는 작업
        
        // 1. AJAX로 서버에서 해당 월의 일정 정보를 가져온다.
        // 2. 서버에서 받은 JSON 데이터를 자바 객체로 바꾼 후
        //    그 일정을 캘린더에 등록한다.
        console.log("test....ok!");
        
        $.ajax({
            url: 'calendar?schoolNo=1',
            type: 'GET',
            dataType: 'json',
            contentType: false,
            processData: false,
            
        }).done(function(result) {
            for (let classEvent of result) {
                calendar.addEvent({
                title: classEvent.name,
                start: classEvent.startAt,
                end : classEvent.endedAt,
                allDay: true
             });
            }
        });
    };
    
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView : 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
            headerToolbar : { // 헤더에 표시할 툴 바
                start : 'prev next today add',
                center : 'title',
                end : 'dayGridMonth,dayGridWeek,dayGridDay'
            },
            customButtons: {
                add: {
                    text: '일정등록',
                    click: function() {
                        myModal1();
                    }
                }
            },

            titleFormat : function(date) {
                return date.date.year + '년 ' + (parseInt(date.date.month) + 1) + '월';
            },
            //initialDate: '2021-07-15', // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)
            selectable : true, // 달력 일자 드래그 설정가능
            droppable : true,
            editable : true,
            nowIndicator: true, // 현재 시간 마크
            locale: 'ko' , // 한국어 설정
            dateClick: function(info) {
<!--            var startAt = info.dateStr; // 클릭한 날짜 정보-->
<!--            document.getElementById('startAt2').value = startAt;-->
                myModal1();
              
            },
<!--    select: function(info) {-->
<!--      alert('selected ' + info.startStr + ' to ' + info.endStr);-->
<!--    }-->
<!--        일정 상세보기 할때 사용-->
        
        });
        calendar.render();
    });

</script>

<div class="modal" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">일정등록</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
      
      
<form id="classInfo">
    <input name="schoolNo" type="hidden" value="1">

    <div>
        제목: <input name='name' type='text'>
    </div>

      <div>
        설명: <label><textarea name='content'></textarea></label>

    </div>
        사진: <input name='file' type='file'>
    
    <div>
        모임일 <br>
        날짜 시간 설정: <input name="startAt2" type="datetime-local">
    </div>

    <div>
        종료 시간 <br>
        날짜 시간 설정: <input name="endedAt2" type="datetime-local">

    </div>

    <div>
        <button id="mapBtn" type="button">약속 장소 정하기</button>
        <br>
        이름: <input id="location" name="location" type='text'><br>
        상세주소: <input id="locationDetail" name="locationDetail" placeholder="상세주소" type="text">
    </div>

    <div>
        인원: <input name='member' type='text'>
    </div>

<button id="btn1" type="button">초대하기</button>
    <div class="modal" id="myModal2" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">멤버 초대</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
            <table>
                <thead>
                <tr>
                    <th>사진</th>
                    <th>닉네임</th>
                    <th>등급</th>
                    <th>초대하기</th>
                </tr>
                </thead>
                <tbody>

                <tr data-th-each="schoolMember : ${schoolMembers}" data-th-object="${schoolMember}">
                    <td data-th-text="*{photo}">사진</td>
                    <td data-th-text="*{nickname}">가나다</td>
                    <td data-th-text="*{level.levelName}">블랙</td>
                </tr>

            </table>
        
        </div>
         </div>
        </div>
    </div>
    <div>
        정기여부:<input name="repeatSet" type="radio" value="0"> 정기
        <input name="repeatSet" type="radio" value="1"> 번개

    </div>
    <br>
    
<div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">닫기</button>
        <button class="btn btn-primary" type="button" onclick="addEvent(); closeModal();">등록</button>
      </div>
    
</form>
      
      </div>
      
    </div>
  </div>
</div>


<script>


let myModal;
        function myModal1() {
             myModal = new bootstrap.Modal(document.getElementById('myModal'), {})
            console.log('모달을 표시합니다.');
            myModal.show();
        };
        
         function closeModal() {
            myModal.hide();
        };
    
    function addEvent() {
    
        var name = new String (document.querySelector("input[name='name']").value);
        var startDate = new Date(document.querySelector("input[name='startAt2']").value);
        var endDate = new Date(document.querySelector("input[name='endedAt2']").value);
        
        if (isNaN(endDate.valueOf())) {
            return;
        }
        
        var form = $('#classInfo')[0];
        var formData = new FormData(form);
    
        $.ajax({
            type : "POST",
            url : 'add',
            data : formData,
            dataType: 'json',
            processData:false,
            contentType:false
        }).done(function(result) {
            if (result.status != "success") {
                alert("서버에 이벤트를 등록할 수 없습니다.!");
                return;
            }
            calendar.addEvent({
                title: name,
                start: startDate,
                end : endDate,
                allDay: true
            });
            console.log("서버에 이벤트를 성공적으로 추가했습니다.");
        });
    }
    
    document.querySelector("#btn1").onclick = function() {
        const myModal = new bootstrap.Modal(document.getElementById('myModal2'), {})
         myModal.show();
    };
    
</script>


<div class="modal" id="mapModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">지도테스트</h5>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
          </div>
      <div class="modal-body">
          
                <div class="map_wrap">
                    <div id="map" style="width:100%;height:100%;"></div>
                
                    <div id="menu_wrap" class="bg_white">
                        <div class="option">
                            <div>
                                <form onsubmit="searchPlaces(); return false;">
                                    키워드 : <input type="text" value="비트캠프 강남점" id="keyword" size="15">
                                    <button type="submit">검색하기</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <ul id="placesList"></ul>
                        <div id="pagination"></div>
                    </div>
                </div>
      </div>
      
    </div>
  </div>
</div>

<p><em>지도를 확대 또는 축소 해주세요!</em></p>
<p id="result"></p>




<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=62ae4a410f33ef883e67c3c603a063ed&libraries=services"></script>
<script>
// 마커를 담을 배열입니다
var markers = [];

var mapContainer = document.getElementById('map'), // 지도를 표시할 div
 mapOption = {
        center: new kakao.maps.LatLng(37.50736, 127.034435), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };
    

// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);
console.log("지도생성");



// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places();

// 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1});



// 키워드 검색을 요청하는 함수입니다
function searchPlaces() {

    var keyword = document.getElementById('keyword').value;

    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch( keyword, placesSearchCB);
}

// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
function placesSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

        // 정상적으로 검색이 완료됐으면
        // 검색 목록과 마커를 표출합니다
        displayPlaces(data);

        // 페이지 번호를 표출합니다
        displayPagination(pagination);

    } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

        alert('검색 결과가 존재하지 않습니다.');
        return;

    } else if (status === kakao.maps.services.Status.ERROR) {

        alert('검색 결과 중 오류가 발생했습니다.');
        return;

    }
}

// 검색 결과 목록과 마커를 표출하는 함수입니다
function displayPlaces(places) {

    var listEl = document.getElementById('placesList'),
    menuEl = document.getElementById('menu_wrap'),
    fragment = document.createDocumentFragment(),
    bounds = new kakao.maps.LatLngBounds(),
    listStr = '';
    
    // 검색 결과 목록에 추가된 항목들을 제거합니다
    removeAllChildNods(listEl);

    // 지도에 표시되고 있는 마커를 제거합니다
    removeMarker();
    
    for ( var i=0; i<places.length; i++ ) {

        // 마커를 생성하고 지도에 표시합니다
        var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
            marker = addMarker(placePosition, i),
            itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(placePosition);
        

        // 마커와 검색결과 항목에 mouseover 했을때
        // 해당 장소에 인포윈도우에 장소명을 표시합니다
        // mouseout 했을 때는 인포윈도우를 닫습니다
        (function(marker, title, place) {
            kakao.maps.event.addListener(marker, 'mouseover', function() {
                displayInfowindow(marker, title);
            });

            kakao.maps.event.addListener(marker, 'mouseout', function() {
                infowindow.close();
            });
            
            kakao.maps.event.addListener(marker, 'click', function() {
                alert(JSON.stringify(place.road_address_name));
                document.getElementById("location").value = place.place_name;
                document.getElementById("locationDetail").value = place.address_name ;
<!--                closeMapModal();-->
                
                
                console.log( "@@@@@@@@" + JSON.stringify(place));
                console.log(JSON.stringify(place.road_address_name));
                console.log(JSON.stringify(place.address_name));
                console.log(JSON.stringify(place.x));
                console.log(JSON.stringify(place.y));
		    });
		    
		    itemEl.onclick =  function () {
		        alert(JSON.stringify(place.road_address_name));
		        document.getElementById("location").value = place.place_name;
                document.getElementById("locationDetail").value = place.address_name;
            };
		    

            itemEl.onmouseover =  function () {
                displayInfowindow(marker, title);
            };

            itemEl.onmouseout =  function () {
                infowindow.close();
            };
        })(marker, places[i].place_name, places[i]);
            console.log(places[i].place_name);
            console.log(places[i].road_address_name);
           console.log(places[i]);
           

        fragment.appendChild(itemEl);
    }

    // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
    listEl.appendChild(fragment);
    menuEl.scrollTop = 0;

    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
    map.setBounds(bounds);
}

// 검색결과 항목을 Element로 반환하는 함수입니다
function getListItem(index, places) {

    var el = document.createElement('li'),
    itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                '<div class="info">' +
                '   <h5>' + places.place_name + '</h5>';

    if (places.road_address_name) {
        itemStr += '    <span>' + places.road_address_name + '</span>' +
                    '   <span class="jibun gray">' +  places.address_name  + '</span>';
    } else {
        itemStr += '    <span>' +  places.address_name  + '</span>';
    }
      
      itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                '</div>';

    el.innerHTML = itemStr;
    el.className = 'item';

    return el;
}

// 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
function addMarker(position, idx, title) {
    var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
        imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
        imgOptions =  {
            spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
            spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
            offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
        },
        markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
            position: position, // 마커의 위치
            image: markerImage
        });

    marker.setMap(map); // 지도 위에 마커를 표출합니다
    markers.push(marker);  // 배열에 생성된 마커를 추가합니다

    return marker;
}

// 지도 위에 표시되고 있는 마커를 모두 제거합니다
function removeMarker() {
    for ( var i = 0; i < markers.length; i++ ) {
        markers[i].setMap(null);
    }
    markers = [];
}

// 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
function displayPagination(pagination) {
    var paginationEl = document.getElementById('pagination'),
        fragment = document.createDocumentFragment(),
        i;

    // 기존에 추가된 페이지번호를 삭제합니다
    while (paginationEl.hasChildNodes()) {
        paginationEl.removeChild (paginationEl.lastChild);
    }

    for (i=1; i<=pagination.last; i++) {
        var el = document.createElement('a');
        el.href = "#";
        el.innerHTML = i;

        if (i===pagination.current) {
            el.className = 'on';
        } else {
            el.onclick = (function(i) {
                return function() {
                    pagination.gotoPage(i);
                }
            })(i);
        }

        fragment.appendChild(el);
    }
    paginationEl.appendChild(fragment);
}

// 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
// 인포윈도우에 장소명을 표시합니다
function displayInfowindow(marker, title) {
    var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

    infowindow.setContent(content);
    infowindow.open(map, marker);
}

 // 검색결과 목록의 자식 Element를 제거하는 함수입니다
function removeAllChildNods(el) {
    while (el.hasChildNodes()) {
        el.removeChild (el.lastChild);
    }
}
    
    
    kakao.maps.event.addListener(map, 'zoom_changed', function() {
    
    // 지도의 현재 레벨을 얻어옵니다
    var level = map.getLevel();
    
    var message = '현재 지도 레벨은 ' + level + ' 입니다';
    var resultDiv = document.getElementById('result');
    resultDiv.innerHTML = message;
    
});

let mapModal;

     function closeMapModal() {
        mapModal.hide();
     };
     
    
    // 지도 모달 닫힘 이벤트 처리
    document.querySelector("#mapModal").addEventListener('hide.bs.modal', function() {
        console.log("mapModal 모달이 숨겨집니다.");
    });



    document.querySelector("#mapBtn").onclick = function() {
    const mapModal = new bootstrap.Modal(document.getElementById('mapModal'), {})
         mapModal.show();
    };
    
    document.querySelector("#mapModal").addEventListener('shown.bs.modal', function() {
        var modalMapContainer = document.querySelector('.map_wrap');
        var width = modalMapContainer.clientWidth;
        var height = modalMapContainer.clientHeight;
      
        // Kakao Maps API의 resize 함수를 사용하여 지도의 크기를 조정합니다.
 
        map.relayout();
        // 키워드로 장소를 검색합니다
        searchPlaces();
    });
    
</script>






</body>
</html>