<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
  </head>
  <body>

  
  
        <div>
          <form action="insert" data-th-action="@{insert}" enctype='multipart/form-data' method='post'>
                    <button>버튼</button>
          </form>
        </div>
  <script>
      axios({
        method: 'POST',
        url: '/schoolclass/insert',
        data: {
            classNo: classNo
            schoolNo: responseData.schoolNo,
        },
        responseType:'json'
      })
        .then(function (response) {
            var responseData = response.data;
            console.log(responseData);
        })
        .catch(function (error) {
            console.error('에러 발생:', error);
        });
      
  </script>
  
  </body>
</html>