$('#deleteEvent').on('click', function() {
    removeEvent(eventObj);
    console.log("222222222222222");
    console.log(eventObj);
});

function removeEvent() {
    var eventId = eventObj.id; // 이벤트 객체의 id 속성 값 가져오기
    console.log(eventObj.id);
    console.log(eventId);
    var calendarEvent = calendar.getEventById(eventId);
    console.log("3333333333333");
    console.log(calendarEvent);




    if (calendarEvent) {

        var updateData = new updateData;

        // 모든 input 요소를 가지고 있는 부모 요소 선택
        var inputContainer = document.getElementById('#modal-body2');

        // 부모 요소 하위의 모든 input 요소 선택
        var inputElements = inputContainer.querySelectorAll('input');

        // 각 input 요소의 값을 FormData에 추가
        inputElements.forEach(function(inputElement) {
        formData.append(inputElement.id, inputElement.value);
        });



        axios({
            method: 'POST',
            url: '/schoolclass/classUpdate',
            data: {
                updateData
            }
            }).then(function(response) {
                    calendarEvent.update();
                    console.log("4444444444444");
                    console.log(updateData);
                    console.log("업데이트 실행");
                    closeViewModal();
                    location.reload();
                }).catch(function(error) {
                        console.error('에러 발생:', error);
                    });
    }
}



$('#classUpdate').on('click', function() {
    updateEvent(eventObj);
    console.log("222222222222222");
    console.log(eventObj);
});
    
    function updateEvent() {
        var eventId = eventObj.id; // 이벤트 객체의 id 속성 값 가져오기
        console.log(eventObj.id);
        console.log(eventId);
        var calendarEvent = calendar.getEventById(eventId);
        console.log("3333333333333");
        console.log(calendarEvent);
    
        if (calendarEvent) {

            var updateData = new updateData;
            
            // 모든 input 요소를 가지고 있는 부모 요소 선택
            var inputContainer = document.getElementById('#modal-body2');
            
            // 부모 요소 하위의 모든 input 요소 선택
            var inputElements = inputContainer.querySelectorAll('input');
            
            // 각 input 요소의 값을 FormData에 추가
            inputElements.forEach(function(inputElement) {
            formData.append(inputElement.id, inputElement.value);
            });


axios({
method: 'POST',
url: '/schoolclass/classUpdate',
data: {
updateData
}
}).then(function(response) {
calendarEvent.update();
console.log("4444444444444");
console.log(updateData);
console.log("업데이트 실행");
closeViewModal();
location.reload();
}).catch(function(error) {
console.error('에러 발생:', error);
});
}
}