<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.w3.org/1999/xhtml">
<head>
		<meta charset='UTF-8'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>비트캠프 데브옵스 5기</title>
</head>
<body>


<div class="modal" id="post_add()" data-th-fragment="postAdd-modal">
		<div class="modal-dialog">
				<div class="modal-content">
						<!--						<form action="add" data-th-action="@{add}" enctype='multipart/form-data' method='post'>-->
						<!--								&lt;!&ndash; schoolNo의 값을 넘기기 위해 히든으로 설정 &ndash;&gt;-->
						<!--								<input type="hidden" name="schoolNo" value="1"> &lt;!&ndash; 로그인 구현이 안되어있어서 임의로 적용 &ndash;&gt;-->
						<!--								<input type="hidden" name="no" value="1"> &lt;!&ndash; 로그인 구현이 안되어있어서 임의로 적용 &ndash;&gt;-->
						<!--								<div>-->
						<!--										&lt;!&ndash; Summernote 에디터 &ndash;&gt;-->
						<!--										<textarea id="summernote" name='content'></textarea>-->
						<!--								</div>-->

						<!--								<div>-->
						<!--										&lt;!&ndash; 공지로 등록하는 체크박스 &ndash;&gt;-->
						<!--										&lt;!&ndash; gradeMd = 체크박스는 관리자만 보이게 설정 &ndash;&gt;-->
						<!--										&lt;!&ndash; gradeMdLabel = 공지로등록이라는 텍스트는 관리자만 보이게 설정 &ndash;&gt;-->
						<!--										<label for="gradeMd" id="gradeMdLabel" style="display: none;">공지로 등록</label>-->
						<!--										<input type="checkbox" id="gradeMd" name="post" value="1" style="display: none;">-->
						<!--										<button type="button" id="btn_submit">등록</button>-->
						<!--								</div>-->
						<!--						</form>-->
				</div>
		</div>
</div>

<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<h5 class="modal-title">새 글 작성</h5>
						</div>
						<div class="modal-body">
								<!-- form.html의 내용 -->
								<form action="add" data-th-action="@{add}" enctype='multipart/form-data' method='post'>
										<!-- schoolNo의 값을 넘기기 위해 히든으로 설정 -->
										<input type="hidden" name="schoolNo" value="1"> <!-- 로그인 구현이 안되어있어서 임의로 적용 -->
										<input type="hidden" name="no" value="1"> <!-- 로그인 구현이 안되어있어서 임의로 적용 -->
										<div>
												<!-- Summernote 에디터 -->
												<textarea id="summernote" name='content'></textarea>
										</div>

										<div>
												<!-- 공지로 등록하는 체크박스 -->
												<!-- gradeMd = 체크박스는 관리자만 보이게 설정 -->
												<!-- gradeMdLabel = 공지로등록이라는 텍스트는 관리자만 보이게 설정 -->
												<label for="gradeMd" id="gradeMdLabel" style="display: none;">공지로 등록</label>
												<input type="checkbox" id="gradeMd" name="post" value="1" style="display: none;">
												<button type="button" id="btn_submit">등록</button>
										</div>
								</form>
						</div>
				</div>
		</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


<script>
		function postAdd() {
				// 새로운 모달을 엽니다.
				$('#p-modal').modal('show');
				// Summernote 에디터를 초기화합니다.
				$('#summernote').summernote({
						height: 300,
						width: 500,
						callbacks: {
								onInit: function() {
										console.log('Summernote 생성됨!');
								},
								onImageUpload: function(files) {
										let data = new FormData();
										for (const file of files) {
												data.append("files", file);
										}
										$.ajax({
												url: 'file/upload', // 파일 업로드 처리를 하는 엔드포인트 URL
												type: 'POST',
												dataType: 'json',
												contentType: false,
												processData: false,
												data: data
										}).done(function(result) {
												if (result.length == 0) {
														alert('로그인 하세요!');
														return;
												}
												// 서버에서 받은 업로드 파일 이름을 가지고 <img> 태그를 설정합니다.
												for (const attachedFile of result) {
														$('#summernote').summernote('insertImage',
																'https://kr.object.ncloudstorage.com/moyeorastorage/post/'
																+ attachedFile.filePath);
												}
										});
								}
						}
				});
		}
</script>


</body>
</html>

