:root {
    --text-color: #CBBCA7;
    --background-color: #white;
    --accent-color: rgb(236, 226, 218);
}

body {
    margin: 0;
    font-family: 'Source Code Pro';
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    width: 150px;
    height: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    
}

.header_logo {
    font-size: 24px;
    color: white;
}

.header_logo i {
    color: #CBBCA7;
}

.header_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-left: auto;
}

.header_menu li {
    padding: 8px 12px;
}

.header_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.header_icons {
    list-style: none;
    color: #CBBCA7;
    display: flex;
    padding-left: 0;
    margin-right: 30px;
}

.header_icons il {
    padding: 8px 12px;
}

.header_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #CBBCA7;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items:  flex-start;
        padding: 8px 24px;
    }

    .header_menu {
        display:  none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header_menu li {
        width: 100%;
        text-align: center;
    }

    .header_icons {
        display:  none;
        justify-content: center;
        width: 100%;
    }

    .header_toggleBtn {
        display: block;
    }

    .header_menu.active,
    .header_icons.active {
        display: flex;
    }
}

hr {
    border: none;
    /* 기본 테두리 제거 */
    height: 12px;
    /* 높이 설정 */
    background-color: #CBBCA7;
    /* 색상 설정 */
}