<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='utf-8'/>



</head>
<body>



<div class="modal" data-th-fragment="testModal" id="testModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">멤버 초대</h5>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
          </div>
              <div class="modal-body">
                    <table>
                        <thead>
                            <tr>
                            <th>사진</th>
                            <th>닉네임</th>
                            <th>등급</th>
                            <th>초대하기</th>
                            </tr>
                        </thead>
                        <tbody>
                       
                            <tr data-th-each="schoolMember : ${schoolMembers}" data-th-object="${schoolMember}">
                                <td>
                                    <a data-th-href="@{'https://kr.object.ncloudstorage.com/moyeorastorage/user/' + *{photo}}"
                                       data-th-if="${schoolMember.photo}">
                                        <img data-th-src="@{'https://qryyl2ox2742.edge.naverncp.com/yNmhwcnzfw/user/' + *{photo}(type=f,w=80,h=80)}"></a><br>
                                    <a data-th-unless="*{photo}" href='/img/default-photo.jpeg'>
                                        <img height='80px' src='/img/default-photo.jpeg'> </a>
                                </td>
                                <td data-th-text="*{nickname}">가나다</td>
                                <td data-th-text="*{level.levelName}">블랙</td>
                                 <td data-th-text="">블랙</td>
                            </tr>
                       
                        </tbody>
                    </table>
        
              </div>
        </div>
    </div>
    


    <script>
        document.querySelector("#btn5").onclick = function() {
            const myModal5 = new bootstrap.Modal(document.getElementById('testModal'), {})
             myModal5.show();
             console.log("모달 출력");
             console.log(nickname);
             console.log(level=level.levelName);
        };
        
    </script>

</div>
</body>

</html>