<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='utf-8'/>



</head>
<body>


<div class="modal" data-th-fragment="viewModal" id="viewModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">일정 상세보기</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>

            
            <div class="modal-body">

            
                <div>
                제목: <input data-th-value="${name}" id="name">
                </div>
                nickname: <span data-th-text="${nickname}" id="nickname"></span>
                levelName: <span data-th-text="${levelName}" id="levelName"></span>
                <div>
                        <button class="btn btn-success item-hidden" id="submitButton" type="button">참가하기</button>
                        <button class="btn btn-secondary item-hidden" id="cancelButton" type="button">참가 취소하기</button>
                </div>

                <div>
                    member: <span data-th-text="${member}" id="member"></span>
                </div>
                <div>
                    nowMemberCount: <span data-th-text="${nowMemberCount}" id="nowMemberCount"></span>
                </div>
                <div>
                    startAt: <input th:value="${startAt}"  id="startAt3"
                                    type="datetime-local"></input>
                </div>
                <div>
                    endedAt: <input th:value="${endedAt}"  id="endedAt3" type="datetime-local">
                </div>
                <div>
                    photo: <img id="photo">
                            <input name='file' type='file' id="updateFile">
                </div>
                
                <div>
                    content: <input data-th-text="${content}" id="content">
                </div>
                <div>
                    locationDetail: <input data-th-text="${locationDetail}" id="locationDetail2">
                </div>


                <div class="map_wrap">
                    <div id="map2" style="width:100%;height:100%;"></div>
                    <div class="bg_white" id="menu_wrap">
                        <div class="option">
                            <div>
                                <form onsubmit="searchPlaces2(); return false;">
                                    키워드 : <input  id="keyword2" size="15" type="text" >
                                    <button type="submit">검색하기</button>
                                </form>
                            </div>
                        </div>
                        <hr>

                        <ul id="placesList2"></ul>
                        <div id="pagination2"></div>
                    </div>
                </div>
                <button class="btn btn-danger item-hidden" id="deleteEvent">삭제하기</button>
                <button class="btn btn-primary item-hidden" id="classUpdateBtn">수정하기</button>
           
            
            </div>
        </div>
    </div>
 


    <script>
        var submitButton = document.getElementById('submitButton');
        

        // 클릭 이벤트에 대한 핸들러를 추가합니다.

        $("#submitButton").click(function() {

          axios({
            method: 'POST',
            url: '/schoolclass/insert',
            data: {
                classNo: classNo,
                schoolNo: schoolNo
            },
            responseType:'json'
          })
            .then(function (response) {
                let count = document.getElementById('nowMemberCount').innerText
                count = Number(count) + 1
                document.getElementById('nowMemberCount').innerText = count
                var responseData = response.data;
                console.log(responseData);
                $('#cancelButton').removeClass("item-hidden");
                $('#submitButton').addClass("item-hidden");
            })
            .catch(function (error) {
                console.error('에러 발생:', error);
            });
          console.log(classNo);
          console.log(schoolNo);
            // 폼을 제출하지 않도록 합니다.
            event.preventDefault();
        });

    </script>


    <script>

        $("#cancelButton").click(function() {

          axios({
            method: 'POST',
            url: '/schoolclass/memberDelete',
            data: {
                classNo: classNo,
                schoolNo: schoolNo
            },
            responseType:'json'
          })
            .then(function (response) {
                let count = document.getElementById('nowMemberCount').innerText
                count = Number(count) - 1
                document.getElementById('nowMemberCount').innerText = count
                var responseData = response.data;
                console.log(responseData);
                $('#cancelButton').addClass("item-hidden");
                $('#submitButton').removeClass("item-hidden");
            })
            .catch(function (error) {
                console.error('에러 발생:', error);
            });
          console.log(classNo);
          console.log(schoolNo);
            // 폼을 제출하지 않도록 합니다.
            event.preventDefault();
        });

    </script>

    <script>
        let viewModal;


        function viewModal1() {
            viewModal = new bootstrap.Modal(document.getElementById('viewModal'), {})
            console.log('모달을 표시합니다.');
            viewModal.show();
        };

        document.querySelector("#viewModal").addEventListener('shown.bs.modal', function() {
            var modalmapContainer2 = document.querySelector('.map_wrap');
            var width = modalmapContainer2.clientWidth;
            var height = modalmapContainer2.clientHeight;
            console.log(modalmapContainer2);
            // Kakao Maps API의 resize 함수를 사용하여 지도의 크기를 조정합니다.
            
            map2.relayout();
            
            // 키워드로 장소를 검색합니다
            console.log("maprelayout");

        });

        function closeViewModal() {
             viewModal.hide();
             console.log('모달을 닫습니다.');
        };

        document.querySelector("#viewModal").addEventListener('hidden.bs.modal', function() {
            $('#cancelButton').addClass("item-hidden");
            $('#submitButton').addClass("item-hidden");
        });
        
        function toggleInputReadonly(isReadonly) {
            var inputElements = document.querySelectorAll('#modal-body2 input');
            inputElements.forEach(function(inputElement) {
                inputElement.readOnly = isReadonly;
                // 읽기 전용이 아닐 때 스타일 변경
                if (isReadonly) {
                    inputElement.style.backgroundColor = '#fff'; // 배경색 변경
                    inputElement.style.border = 'none'; // 테두리 추가
                    inputElement.disabled = isReadonly;
                } else {
                    inputElement.style.backgroundColor = ''; // 배경색 초기화
                    inputElement.style.border = ''; // 테두리 초기화
                }
                
            });
       }
       
       
       
    </script>


</div>
</body>

</html>