body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#conversation {
    max-width: 500px;
    max-height: 500px;
    padding: 2em 3em;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
}

.message-container {
    border-radius: 10px;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}

.received-message {
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    text-align: left;
}

.sent-message {
    background-color: #DCF8C6;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    text-align: right;
    right: 0;
}

.message-text {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.sender-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.time-stamp {
    font-size: 12px;
    color: #999;
}