<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info" name="spring-boot-log-to-kafka-example" packages="io.woolford">
    <Appenders>
        <Kafka name="Kafka" topic="kafka-elk-test-log">
            <JSONLayout/>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </Kafka>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Kafka"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</configuration>