<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='UTF-8'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>모여라</title>
</head>
<body>
<div class="modal" id="schoolInfoModal" data-th-fragment="school-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form data-th-object="${school}" id="schoolInfoForm" enctype="multipart/form-data">
                <input type="hidden" id="schoolNo" name="schoolNo" value="">
                <div class="modal-header">
                    <h5 class="modal-title">스쿨 정보 수정</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                            type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div style="display: flex; align-items: center;">
                            <h5>스쿨 이름</h5>
                            <label for="school_name" class="form-label"></label>
                            <input id="school_name" name="name" type="text" class="form-control">
                            <!-- 중복 확인 버튼 추가 -->
                            <button class="btn btn-primary btn-warning" type="button" id='signupBtn' >중복 확인</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h5>현재 스쿨 사진</h5>
                        <label for="school_photo" class="form-label"></label>
                        <!-- 스쿨 사진 표시 -->
                        <div class="text-center img-thumbnail" >
                            <img id="school_photo1">
                        </div>
                        <!-- 사진 변경을 위한 파일 업로드 -->
                        <!--  <input id="school_photo" name='photo' type='file'>-->
                        <input type="file" id="school_photo" name="photo" accept="image/*" class="form-control"  required/>
                    </div>
                    <div class="mb-3">
                        <h5>스쿨 설명</h5>
                        <label for="school_content" class="form-label"></label>
                        <textarea id="school_content" class="form-control" name="school_content"></textarea>
                    </div>
                    
                    <div id="school_tags" class="mb-3">
                        <h5>스쿨 관심사</h5>
                        <label class="form-label"></label>
                        
                        <div class="text-center tag-checkboxes" id="tag-checkboxes">
                          <tbody class="text-center">
                            <tr data-th-each="tag : ${tags}">
                              <td>
                                <div class="checkbox-container">
                                      <img class="checkbox-image" th:src="@{'/img/tag/tag' + ${tag.no} + '.png'}" alt="no image" height='50px'
                                           width="50px">
                                      <span data-th-text="${tag.name}"></span>
                                      <input data-th-checkbox="true" data-th-value="${tag.no}" name="tagNums" type="checkbox" style="display: none;" disabled>
                                </div>
                              </td>
                              <data-th-block data-th-if="${tag.no == 0 or tag.no % 4 ==0}">
                                <br>
                              </data-th-block>
                            </tr>
                          </tbody>
                        </div>
                    </div>
                    
                </div>
                <!--                <button class="btn btn-primary">업데이트</button>-->
                <button class="btn btn-primary btn-warning centered" type="button" onclick="update()">업데이트</button>
            </form>
        </div>
    </div>
    <script>
        const schoolFormModal = new bootstrap.Modal(document.getElementById('schoolInfoModal'), {});
        var signupBtn = 0; // 스쿨명 중복 체크 여부를 나타내는 변수
        var initialSchoolName = ""; // 초기 스쿨 이름 저장 변수
        function schoolForm() {
            // 서버로부터 사용자 목록을 가져오는 코드 작성
            const queryString = window.location.search;
            const params = new URLSearchParams(queryString);
            const schoolNo = params.get('schoolNo');
            // 모달을 출력하기 전에 모달에서 출력할 때 사용할 데이터를 준비한다.
            axios.get("/school/admin/schoolInfo?schoolNo=" + schoolNo)
            .then((response) => {
                // 서버로부터 받은 데이터를 처리하는 코드 작성
                console.log(response.data); // 받은 데이터를 콘솔에 출력하여 확인
                // 스쿨 번호를 숨겨진 폼 필드에 할당
                document.getElementById('schoolNo').value = schoolNo;
                // 여기에 받은 데이터를 화면에 표시하는 코드를 작성할 수 있습니다.
                let school_name = document.getElementById('school_name');
                school_name.value = response.data.name;
                initialSchoolName = response.data.name; // 초기 스쿨 이름 저장
                let school_content = document.getElementById('school_content');
                school_content.value = response.data.content;
                let school_photo1 = document.getElementById('school_photo1');
                school_photo1.src = 'https://qryyl2ox2742.edge.naverncp.com/yNmhwcnzfw/school/' + response.data.photo + '?type=f&w=160&h=160';
                // 서버로부터 받은 태그들을 순회하면서 체크박스를 생성합니다.
                
                response.data.tags.forEach(tag => {
                console.log(tag.tagNo);
                const checkbox = document.querySelector(`input[type="checkbox"][value="${tag.tagNo}"]`);
                if (checkbox) {
                    checkbox.checked = true;
                    checkbox.closest('.checkbox-container').classList.add('checked');
                    console.log("@@@@@@@@@@@@@@@@@@@@@@@@@");
                }
            });
                
                schoolFormModal.show();
            })
            .catch((error) => {
                console.error('Error fetching user list:', error); // 오류가 발생한 경우 콘솔에 오류 메시지 출력
            });
        }
        
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxes = document.querySelectorAll('.checkbox-container input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.disabled = true; // 체크박스를 disable 상태로 설정
                checkbox.closest('.checkbox-container').classList.add('disabled'); // 부모 요소에 disabled 클래스 추가
            });
        });
        
        
        
        
        function update() {
            // 선택된 태그 번호를 배열로 저장
            var tagNums = [];
            document.querySelectorAll('input[name="tagNums"]:checked').forEach(tag => {
                tagNums.push(parseInt(tag.value));
            });
            if (tagNums.length === 0) {
                Swal.fire({
                  icon: 'warning',
                  title: '앗!....',
                  text: '스쿨관심사를 적어도 하나 이상 선택하세요.'
                });
                return;
            }
            // 스쿨 이름이 변경되었는지 확인
            var currentSchoolName = document.getElementById('school_name').value;
            if (currentSchoolName !== initialSchoolName && signupBtn === 0) {
                Swal.fire({
                  icon: 'warning',
                  title: '앗!....',
                  text: '스쿨이름 중복 확인을 해주세요.'
                });
                return;
            }
            // 다른 필요한 데이터들을 formData에 추가
            var formData = new FormData();
            formData.append('no', document.getElementById('schoolNo').value);
            formData.append('name', document.getElementById('school_name').value);
            formData.append('content', document.getElementById('school_content').value);
            formData.append('tagNums', tagNums);
            // 파일이 있을 경우 추가
            var fileInput = document.getElementById('school_photo');
            var file = fileInput.files[0];
            if (file) {
                formData.append('file', file);
            } else {
                // 파일이 없을 때 기존 파일명을 formData에 추가
                let previousPhotoUrl = document.getElementById('school_photo1').src;
                let previousPhotoFileName = previousPhotoUrl.substring(previousPhotoUrl.lastIndexOf('/') + 1);
                formData.append('file', previousPhotoFileName);
            }
            axios.post("/school/admin/update", formData)
                .then((response) => {
                    console.log(response);
                    // 응답을 확인하여 성공적으로 처리되었을 때만 알림 창을 띄움
                    if (response) {
                        console.log('School information updated successfully:', response.data);
                        const Toast = Swal.mixin({
                          toast: true,
                          position: "top-end",
                          showConfirmButton: false,
                          timer: 2000,
                          timerProgressBar: true,
                          didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                          }
                        });
                        Toast.fire({
                          icon: "success",
                          title: "스쿨수정 완료!"
                        });
                        // 2초 후에 페이지를 다시 로드
                        setTimeout(function() {
                            window.location.reload();
                        }, 2000);
                    } else {
                        console.error('Error updating school information:', response.data.error);
                        // 오류 처리 코드 추가
                    }
                })
                .catch(error => {
                    console.error('Error updating school information:', error);
                    // 오류 처리 코드 추가
                });
        }
        $(document).ready(function () {
            var updateBtn = $("#updateBtn"); // 업데이트 버튼
            // 중복 확인 버튼 클릭 이벤트
            $("#signupBtn").click(function () {
                var schoolName = $("#school_name").val(); // 스쿨명 입력값 가져오기
                   if (schoolName.length < 2) {
                       Swal.fire({
                          icon: 'warning',
                          title: '앗!....',
                          text: '스쿨 이름을 2글자 이상 입력하세요.'
                        });
                       return; // 함수 종료
                   }
                // AJAX를 이용한 중복 확인
                $.ajax({
                    url: "checkDuplicateSchoolName",
                    type: 'GET',
                    data: { schoolName: schoolName },
                    dataType: "json",
                    success: function (data) {
                        if (data.cnt > 0) {
                            // 중복된 스쿨명이 있을 경우
                            Swal.fire({
                              icon: 'warning',
                              title: '앗!....',
                              text: '스쿨명이 존재합니다. 다른 스쿨명을 입력해주세요.'
                            });
                            signupBtn = 0; // 중복되는 스쿨명이므로 signupBtn을 0으로 설정
                            updateBtn.prop("disabled", true); // 중복이므로 업데이트 버튼 비활성화
                        } else {
                            // 중복된 스쿨명이 없을 경우
                            Swal.fire({
                              icon: 'success',
                              title: '사용가능한 스쿨명입니다.'
                            });
                            signupBtn = 1; // 중복되지 않는 스쿨명이므로 signupBtn을 1로 설정
                            updateBtn.prop("disabled", false); // 중복이 아니므로 업데이트 버튼 활성화
                        }
                    },
                    error: function (error) {
                        alert("error : " + error);
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>