<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<h1>회원</h1>
<a data-th-href="@{/user/form}" href="form">회원 가입</a>
<table border='1'>
  <thead>
  <tr>
    <th>번호</th>
    <th>닉네임</th>
    <th>이메일</th>
    <th>가입일</th>

  </tr>
  </thead>
  <tbody>
  <tr data-th-each="user : ${list}" data-th-object="${user}">
    <td data-th-data="*{no}">111</td>
    <td>
      <a data-th-href="@{view(no=*{no})}" data-th-text="*{nickname}" href="view.html">가가가</a></td>
    <td data-th-text="*{email}">hong@test.com</td>
    <td data-th-text="${#dates.format(user.createdDate, 'yyyy-MM-dd')}">2024-03-27</td>
  </tr>
  </tbody>
</table>



<div data-th-replace="footer :: footer">꼬리말</div>

</body>
</html>