<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset='UTF-8'>
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
        <script crossorigin="anonymous" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    
    <title>moyeora</title>
    
    <link href="/css/user.css" rel="stylesheet"/>
</head>

<body>

<div class="logo-container">
    <a href="/home"><img class="logo" src="/img/moyeora-logo.png"></a>
</div>

<h2>소셜 회원 가입 추가 정보</h2>
<br>
<form data-th-action="@{join}" data-th-if="${status == null}" id="joinForm" enctype='multipart/form-data'
      method='post' class="row g-3 needs-validation was-validated" novalidate>
    
    <div class="form-group row justify-content-center">
            <div>
                <input data-th-value="${user.provider}" id="provider" name="provider" readonly type="hidden">
                <input data-th-value="${user.providerId}" id="providerId" name="providerId" readonly type="hidden">
                <input data-th-value="${user.role}" id="role" name="role" readonly type="hidden">
            </div>
        
            <div class="col-md-8">
                 <input data-th-value="${user.email}" id="email" name="email" type="text"
                        class="form-control is-valid" readonly required>
            </div>
            
            <div class="col-md-8">
                <input data-th-value="${user.name}" id="name" name="name" class="form-control is-valid" readonly required type="text">
            </div>
        
            <div class="col-md-8">
                <input name='nickname' placeholder="닉네임" class="form-control is-invalid" required type='text'>
            </div>
        
            <div class="col-md-8">
                생년월일<input id="birth" name='birth' type='date' class="form-control" required>
            </div>
        
            <div class="col-md-8">
                <input id="phone" name='phone' placeholder="전화번호" class="form-control" required type='text'>
            </div>
        
        
            <div class="col-md-8">
                <input id="address" name="address" placeholder="주소" type="text" class="form-control" required>
                <input id="addressDetail" name="addressDetail" placeholder="상세주소" type="text" class="form-control" required>
                <button onclick="sample2_execDaumPostcode()" type="button">우편번호 찾기</button>
            </div>
        
            <div class="col-md-8">
                <input id="file" name='file' type='file' class="form-control" required>
            </div>
        
            <div class="col-md-8">
                <textarea id="profile" name='profile'  class="form-control" placeholder="자기소개" required></textarea>
            </div>
     
             <div class="col-md-2 gender-container">
                  <input id="male" name="gender" type="radio" value="0">
                  <label for="male">남자</label>
                  <input id="female" name="gender" type="radio" value="1">
                  <label for="female">여자</label>
             </div>
            <br>
        
        
            <div>
                 <h2>관심사 선택</h2>
            </div>
  
  
        <div class="text-center">
          <tbody class="text-center">
            <tr data-th-each="tag : ${tags}">
              <td>
                <div class="checkbox-container">
                      <img class="checkbox-image" th:src="@{'/img/tag/tag' + ${tag.no} + '.png'}" alt="no image" height='50px'
                           width="50px">
                      <span data-th-text="${tag.name}"></span>
                      <input data-th-checkbox="true"  data-th-value="${tag.no}" name="tagNums"
                             type="checkbox"
                             style="display: none;">
                </div>
              </td>
              <data-th-block data-th-if="${tag.no == 0 or tag.no % 4 ==0}">
                <br>
              </data-th-block>
            </tr>
          </tbody>
        </div>
          <br>
          <br>




    <div class="text-center">
        <input  type="submit" class="submit-button" value="가입하기">
        <input type="reset" class="cancel-button" onclick="window.location.href = '/index';" value="취소하기">
    </div>
        <div data-th-if="${status != null}" data-th-text="${status}"></div>
   </div>
</form>



<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
    <img alt="닫기 버튼" id="btnCloseLayer" onclick="closeDaumPostcode()"
         src="//t1.daumcdn.net/postcode/resource/images/close.png"
         style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1">
</div>


<script>
  const checkboxLabels = document.querySelectorAll('.checkbox-container');
  
    checkboxLabels.forEach(label => {
      label.addEventListener('click', function() {
        const checkbox = this.querySelector('input[type="checkbox"]');
        checkbox.checked = !checkbox.checked;
        this.classList.toggle('checked', checkbox.checked);
        
     });
  });
</script>

<script>
    $(document).ready(function() {
        $('#joinForm').submit(function(event) {
            event.preventDefault();
            
             let genderSelected = $('input[name="gender"]:checked').val();
                if (!genderSelected) {
                    Swal.fire({
                        icon: 'error',
                        title: '회원 가입 실패!!!',
                        text: '성별을 선택해야 합니다!!'
                    });
                    return false; // 양식 제출 중단
             }

            // 관심사 선택 확인
            let checkedCount = $('.checkbox-container input[type="checkbox"]:checked').length;
            if (checkedCount < 3) {
                Swal.fire({
                    icon: 'error',
                    title: '회원 가입 실패!!!',
                    text: '관심사는 최소 3개 이상 골라야 합니다!!'
                });
                return false; // 양식 제출 중단
            }
            Swal.fire({
              title: '회원 가입 완료',
              text: '가입을 환영합니다.',
              imageUrl: '/img/moyeora-logo.png',
              imageWidth: 400,
              imageHeight: 200,
              imageAlt: 'Custom image',
              showConfirmButton: true, // 확인 버튼 표시
              allowOutsideClick: false, // SweetAlert 창 외부 클릭으로 창 닫기 금지
            }).then((result) => {
                // SweetAlert 창이 닫힌 후에 폼을 제출합니다.
                if (result.isConfirmed) {
                this.submit(); // 폼 제출
                }
            });
        });
    });
</script>


<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 우편번호 찾기 화면을 넣을 element
    var element_layer = document.getElementById('layer');

    function closeDaumPostcode() {
      // iframe을 넣은 element를 안보이게 한다.
      element_layer.style.display = 'none';
    }

    function sample2_execDaumPostcode() {
      new daum.Postcode({
        oncomplete: function (data) {
          // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

          // 각 주소의 노출 규칙에 따라 주소를 조합한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var addr = ''; // 주소 변수
          var extraAddr = ''; // 참고항목 변수

          //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
          if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
            addr = data.roadAddress;
          } else { // 사용자가 지번 주소를 선택했을 경우(J)
            addr = data.jibunAddress;
          }

          // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
          if (data.userSelectedType === 'R') {
            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
              extraAddr += data.bname;
            }
            // 건물명이 있고, 공동주택일 경우 추가한다.
            if (data.buildingName !== '' && data.apartment === 'Y') {
              extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
            if (extraAddr !== '') {
              extraAddr = ' (' + extraAddr + ')';
            }
            // 조합된 참고항목을 해당 필드에 넣는다.
            //  document.getElementById("sample2_extraAddress").value = extraAddr;

          } else {
            // document.getElementById("sample2_extraAddress").value = '';
          }

          // 우편번호와 주소 정보를 해당 필드에 넣는다.
          // document.getElementById('sample2_postcode').value = data.zonecode;
          document.getElementById("address").value = addr;
          // 커서를 상세주소 필드로 이동한다.
          document.getElementById("addressDetail").focus();

          // iframe을 넣은 element를 안보이게 한다.
          // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
          element_layer.style.display = 'none';
        },
        width: '100%',
        height: '100%',
        maxSuggestItems: 5
      }).embed(element_layer);

      // iframe을 넣은 element를 보이게 한다.
      element_layer.style.display = 'block';

      // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
      initLayerPosition();
    }

    // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
    // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
    // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
    function initLayerPosition() {
      var width = 300; //우편번호서비스가 들어갈 element의 width
      var height = 400; //우편번호서비스가 들어갈 element의 height
      var borderWidth = 5; //샘플에서 사용하는 border의 두께

      // 위에서 선언한 값들을 실제 element에 넣는다.
      element_layer.style.width = width + 'px';
      element_layer.style.height = height + 'px';
      element_layer.style.border = borderWidth + 'px solid';
      // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
      element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width) / 2 - borderWidth) + 'px';
      element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height) / 2 - borderWidth) + 'px';
    }
</script>


</body>

</html>