body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Title */
.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding : 20px;
  margin-bottom: 20px;
  color: #96918B; /* Accent color */
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add some margin for spacing */
}

.logo {
  max-width: 200px; /* Adjust the width as needed */
}

/* Form Styles */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #E1D39F;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #E1D39F;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #D9C48A;
}

a {
  display: block;
  margin-top: 10px;
  color: #E1D39F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.oauth-icon {
  width: 200px;
  height: 40px;
  object-fit: cover;
}

.login-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-menu a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-menu a:hover {
  background-color: #f0f0f0;
}

.social-login-icons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.social-login-icons a {
  margin: 0 10px;
}

/* Result Sections */
.result {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.result p {
  margin: 0;
  font-size: 18px;
}

.result span {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #E1D39F;
}

.result a {
  display: inline-block;
  padding: 8px 20px;
  background-color: #E1D39F;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.result a:hover {
  background-color: #D9C48A;
}

/* Message */
.message {
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  text-align: center;
}

.message p {
  margin: 10px 0;
}

.message a {
  display: inline-block;
  padding: 8px 20px;
  background-color: #E1D39F;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.message a:hover {
  background-color: #D9C48A;
}

