.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add some margin for spacing */
}

.logo {
  max-width: 200px; /* Adjust the width as needed */
}


#calendar { /* 풀캘린더가 렌더링 되는 div의 id */
  width: 900px; /* 원하는 가로 크기 */
  height: 600px; /* 원하는 세로 크기 */
  margin: 0 auto;
}

.fc-daygrid-day-number {
    color: rgb(158, 137, 106);
}

.fc-col-header-cell-cushion {
  color: rgb(158, 137, 106);
}


.custom-event-color  {
    background-color: rgb(158, 137, 106);
       color: #fff;
       border-color: rgb(158, 137, 106);
}

:root {
  --fc-button-text-color: #fff;; /* 원하는 색상 코드 */
  --fc-button-bg-color: rgb(158, 137, 106);
  --fc-button-border-color: #9e896a;
  --fc-button-hover-bg-color: rgb(158, 137, 106);
  --fc-button-hover-border-color: rgb(158, 137, 106);
  --fc-button-active-bg-color: rgb(158, 137, 106);
  --fc-button-active-border-color: #9e896a;
}

.form-group.row.justify-content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 여기서 *는 1부터 5까지 사용할 수 있습니다. */
.row .col-md-4,
.row .col-md-5,
.row .col-md-3,
.row .col-md-8{
    margin-bottom: 1rem; /* 원하는 간격으로 조정할 수 있습니다. */

}

button {
    background-color: rgb(158, 137, 106);
    color: #fff; /* 텍스트 색상을 밝은 색으로 지정합니다. */
    border-color: rgb(158, 137, 106); /* 버튼 테두리 색상도 설정합니다. */
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

#location{
    border-bottom: none;
    border-bottom-left-radius: 1px; /* 아래 왼쪽 둥근 각의 반지름 */
    border-bottom-right-radius: 1px;

}
#locationDetail {
    border-top: none;
    border-top-left-radius: 1px; /* 아래 왼쪽 둥근 각의 반지름 */
    border-top-right-radius: 1px;
}


.radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container input[type="radio"] + label {
  margin-right: 10px;
  padding: 8px 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.radio-container input[type="radio"]:checked + label {
  background-color: rgb(158, 137, 106);
   color: #fff;
   border-color: rgb(158, 137, 106);
}

.submit-button, .cancel-button {
    background-color: rgb(158, 137, 106);
    color: #fff; /* 텍스트 색상을 밝은 색으로 지정합니다. */
    border-color: rgb(158, 137, 106); /* 버튼 테두리 색상도 설정합니다. */
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.customInputBox-color {
    border-color: rgb(158, 137, 106);
     background-color: rgb(158, 137, 106);
     color: #fff;
}

.customInputBox-color:disabled {
         border-color: rgb(158, 137, 106);
         background-color: rgb(158, 137, 106);
         color: #fff;
}

.form-control {
    text-align: center;
}


.img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0.5rem;
}

.large-textarea {
    width: 100%;
    height: 300px;
}

.classMember-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #96918B;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.classMember-table th, .classMember-table td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.classMember-table th {
    background-color: #96918B;
    color: white;
}

.classMember-table tr:nth-child(even) {
    background-color: #96918B;
}

.classMember-table tr:hover {
    background-color: #96918B;
}

.classMember-table td img {
    border-radius: 50%;
    margin-right: 10px;
    height: 80px;
    width: 80px;
}