


.header-wrap {
    background-color: #ffffff;
    padding: 10px 20px;
}

.home-wrap .header-wrap {
    background-color: transparent;
    color: #ffffff;
}


.headerInner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1034px;
    height: 50px;
    margin: 0 auto;
}

.logoArea img {
    width: 100px; /* Adjust logo size */
    height: auto;
}

.mainMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.mainMenu li {
    margin-right: 20px;
}

.mainMenu li:last-child {
    margin-right: 0;
}

.mainMenu a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.mainMenu a:hover {
    color: #0066ff;
}

.home-wrap .header-wrap .mainMenu a {
    color: #ffffff;
}

.headerWidgetArea > img {
    width: 30px; /* Adjust icon size */
    height: auto;
    cursor: pointer;

}

.headerIcon-wrap {
    cursor: pointer;
}

.headerIcon-wrap:hover {
    color: #cbbca7;
}

.headerIcon {
    width: 20px; /* Adjust icon size */
    height: auto;
    cursor: pointer;
    margin-left: 16px;
}

.headerIcon:hover {
    color: #cbbca7;
}

.headerIcon-wrap .iconImg {
    border-radius: 50%;
    width: 30px;
    margin-left: 10px;
    pointer-events: none;
}

.headerIcon-wrap .iconImg:hover {
    border: solid #cbbca7;
}

.translate-new-notification {
    transform: translate(-80%,-20%)!important;
}

.translate-new-chat {
    transform: translate(-50%,-20%)!important;
}


.headerWidgetArea {
    display: flex;
}

.headerWidgetArea .widgetList {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0;
}

.headerWidgetArea .widgetItem .btnTextStyle {
    font-size: 13px;
    font-weight: 400;
    color: var(--tier2TextMainLv03);
    display: flex;
    align-items: center;
    margin: 0 6px;
    padding: 0 5px;
    height: 32px;
    border-radius: 16px;
    line-height: 29px;
    text-decoration: none;
    border: 1px solid transparent;
}

.headerWidgetArea .widgetItem .btnTextStyle:hover {
    color: white;
    background-color: #cbbca788;
}

.chatIcon {
    margin-left: auto;
    cursor: pointer;
}

.notificationIcon {
    margin-left: auto;
    cursor: pointer;
}

.toggleContent {
    position: absolute;
    display: none;
    top: calc(100% + 10px);
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/*#notification {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    width: 300px; *//* Set a specific width *//*
}*/

.toggleContent ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notificationItem {
    border-top: 1px solid #ccc;
}

.toggleContent ul li a {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 20px;
    cursor: pointer;
}

.toggleContent a {
    color: #333333;
    text-decoration: none;
    position: relative;
}

.toggleContent a:hover {
    background-color: #cbbca788;
}

#notification {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    width: 300px; /* Set a specific width */
}

#uChat {
    width: 300px; /* Set a specific width */
}

.toggleContent > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    padding: 0 18px 0 22px;
}


.notificationHeaderTitle {
}

.actionArea {
    display: flex;
    color: #797D7F;
    font-size: 11px;
    cursor: pointer;
}

.actionArea > div:not(:last-of-type) {
    margin : 0 5px 0 0;
}

.actionArea > div:hover {
    background-color: #cbbca788;
}

.notificationWrap {
    max-height: 590px;
    min-height: 170px;
    overflow: hidden;
    overflow-y: auto;
    line-height: 1.43;
    transition: max-height .2s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: max-height;
    -webkit-overflow-scrolling: touch;
}

#notificationList {

}

.toggleContent > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notificationItem {
}

.notificationItem.unread {
    background-color: #cbbca799;
}

.notificationItem.empty {
    text-align: center;
}

/*.notificationLink {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 20px;
    cursor: pointer;
}*/

.notificationLink:hover{
    background-color: #cbbca722;
}

.notificationThumbnail {
    position: relative;
    flex: 0 0 auto;
    margin: 0 14px 0 18px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificationThumbnail .thumbnailInner {
    position: relative;
    display: flex;
    gap: .8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: top;
    overflow: hidden;
}

.notificationThumbnail .thumbnailItem {
    width: 40px;
    overflow: hidden;
    aspect-ratio: auto 40 / 40;
    height: 40px;
}

.recentThumbnail img {
    vertical-align: top;
}

.notificationInfoBox {
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
    margin-top: 2rem;

}

.notificationInfo {
}

.notificationInfoBox  .headLineText {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    display: flex;
    max-width: 100%;
    line-height: 1.2;
}

.notificationInfoBox  .nameText {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    display: flex;
    max-width: 100%;
    line-height: 1.2;
}

.notificationInfoBox .infoText {
    font-size: 13px;
    font-weight: 400;
    color: #222;
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    margin-top: 3px;
    line-height: 1.23;
}

.notificationInfoBox .infoText.alertContent {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    max-height: calc($ font-size* $ line-height* var(--lineClamp, $ lines));
    font-size: 13px;
    text-overflow: ellipsis;
    line-height: 1.23;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    -webkit-line-clamp: var(--lineClamp, 2);
    -webkit-box-orient: vertical;
}

.notificationInfoBox .origin {
    font-size: 12px;
    font-weight: 400;
    color: #999;
    display: flex;
    align-items: center;
    line-height: 1.16;
}

.notificationInfoBox .originText {
    font-size: 12px;
    font-weight: 400;
    color: #999;
    display: flex;
    align-items: center;
    margin: 4px 0 0 0;
    line-height: 1.16;
}

#mypageContent {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    z-index: 1000;
}

svg {
    pointer-events: none;
}

.home-wrap {
    background: url(../img/bg1.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    position : relative;

}

footer {
    background-color:gray;
    color:white;
    padding:10px;
    text-align:center;
}

.home-wrap footer {
    background-color: transparent;
    position : absolute;
    bottom : 0;
    text-align:center;
}