table {
	border-collapse: collapse;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

td,
th {
	border: 1px solid #9e896a;
	height: 30px;
	padding: 0 10px;
	text-align: center;
}

/* 클릭 영역 확대 및 포인터 변경 CSS */
tbody tr:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.Stl {
	background-color: #cbbca7;
	text-align: center;
	border: 1px solid #cbbca7;
	padding: 5px;
}

.Stl a {
	font-size: 16px;
	margin-left: 30px;
	--bs-btn-padding-y: 0.5rem;
	--bs-btn-padding-x: 2rem;
	--bs-btn-font-size: 0.8rem;
	background-color: #cbbca7;
	border: none;
}

.Stl a:hover {
	background-color: #e8b882;
}

.container {
	margin: 0;
	padding: 16px;
	max-width: 100%;
	display: flex;
	gap: 16px;
}

.right-container {
	padding-left: 8px;
	border: 1px solid #cbbca7;
	width: 30%;
}

/* 왼쪽 컨테이너 */
.left-container {
	/* float: left; */
	width: 300px; /* 왼쪽 컨테이너의 너비 설정 */
}

.img-md {
	padding: 8px;
	border: 1px solid #cbbca7;
}

/* 회원 리스트 */
.left-container .userList {
	margin-top: 50px;
	border-radius: 16px;
	border: 1px solid #9e896a;
}

.left-container .userList span {
	overflow: hidden;
}

.left-container .userList ul {
	margin: 0;
	padding: 0;
}

.left-container .userList li {
	list-style: none;
	display: flex;
	text-align: center;
	border-bottom: 1px solid #9e896a;
}
.left-container .userList li:last-of-type {
	border-bottom: none;
}

.left-container .userList .col {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 4px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.left-container .userList .col:first-of-type {
	flex: 0 1 25%;
	max-width: 25%;
	overflow: hidden;
}
.left-container .userList .col:nth-child(2) {
	flex: 2 0 auto;
	max-width: 45%;
}
.left-container .userList .col:last-of-type {
	flex: 1 1 30%;
	max-width: 30%;
	border-right: none;
	word-break: keep-all;
}

.center-container {
	background-color: #aa977e3f;
}

/* 검색창 스타일 */
.searchBar {
	padding-bottom: 16px;
}

.searchBarContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: 1px solid #cbbca7;
}

.searchBarContainer .inputKeyword {
	margin: 0 30px;
	width: 100%;
	background-color: #cbbca765;
}

.searchBar .bi-search {
	width: 15%;
	text-align: center;
	font-size: 1.5rem;
	border: 1px solid;
	color: #aa977e;
}

.searchBar input {
	height: 35px;
}

.left-container .md_container .join_container {
	padding: 10% 15%;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.left-container .md_container #post_setting {
	margin: 0 auto;
}

.left-container .md_container .createButton {
	background-color: #9e896a;
	width: 100%;
}

.left-container .join_container {
	margin: 0 auto;
}

.left-container .join_container .createButton {
	background-color: #9e896a;
	width: 100%;
}

/* 고정 게시글 목록 */
#fixed-post {
	padding: 0 20px;
}

#fixed-post .table {
	background-color: #cbbca765;
}

#fix-hd {
	height: 80px;
}

#fix-hd .fix-img {
	height: 80px;
	width: 120px;
	padding-left: 24px;
	padding-top: 24px;
	overflow: hidden;
}

#fix-hd .fix-nick {
	padding-right: 200px;
	padding-top: 16px;
}
.fix-nick span {
	background-color: #cbbca700;
}

#fix-hd2 {
	height: 100%;
	background-color: #cbbca700;
}

#fix-hd2 .fix-ca {
	padding-right: 100px;
}

.fix-content {
	padding-left: 24px;
	padding-top: 24px;
}

/* 게시글 목록 */
#searchResult {
	padding: 0 20px;
}

#searchResult .table {
	background-color: white;
}

.table-responsive .table {
	border: 1px solid black;
}

.table-responsive .table ul {
	margin: 0;
	padding: 0;
}

.table-responsive .table li {
	list-style: none;
	display: flex;
	text-align: center;
	border-bottom: 1px solid #9e896a;
}
.table-responsive .table li:last-of-type {
	border-bottom: none;
}
.table-responsive .table .col {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 4px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table-responsive .table .col:first-of-type {
	flex: 0 1 25%;
	max-width: 15%;
	overflow: hidden;
}
.table-responsive .table .col:nth-child(2) {
	flex: 2 0 auto;
	max-width: 20%;
}
.table-responsive .table .col:nth-child(3) {
	flex: 2 0 auto;
	max-width: 40%;
}
.table-responsive .table .col:nth-child(4) {
	flex: 2 0 auto;
	max-width: 20%;
}
.table-responsive .table .col:last-of-type {
	flex: 1 1 30%;
	max-width: 10%;
	border-right: none;
	word-break: keep-all;
}

#list-hd {
	height: 80px;
}

#list-hd .list-img {
	height: 80px;
	width: 120px;
	padding-left: 24px;
	padding-top: 24px;
	overflow: hidden;
}

#list-hd .list-nick {
	padding-right: 200px;
	padding-top: 16px;
}

#list-hd2 {
	height: 100%;
}

#list-hd2 .list-ca {
	padding-right: 100px;
}

.list-content {
	padding-left: 24px;
	padding-top: 24px;
}
