table {
	border-collapse: collapse;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

td,
th {
	border: 1px solid #9e896a;
	height: 30px;
	padding: 0 10px;
	text-align: center;
}

/* 회원 리스트 */
.left-container .userList {
	width: 80px;
	border: 1px solid #9e896a;
	border-collapse: collapse;
	margin-top: 50px;
	margin-right: 0;
}
/* 회원 리스트 */
.userList th,
.userList td {
	border: 1px solid #9e896a;
	padding: 10px;
	text-align: center;
}

/* 클릭 영역 확대 및 포인터 변경 CSS */
tbody tr:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

/* 왼쪽 컨테이너 */
.left-container {
	float: left;
	width: 300px; /* 왼쪽 컨테이너의 너비 설정 */
	margin-left: 100px;
}

/* 센터 컨테이너 */
.center-container {
	margin-left: 100px; /* 왼쪽 컨테이너의 너비에 따라 조정 */
	margin-right: 10px; /* 오른쪽 간격 설정 */
}

/* 검색창 스타일 */
.search-bar {
	float: center;
	width: 600px; /* 검색창의 너비 설정 */
	margin-left: 42%;
	border: 1px solid #cbbca7;
	padding: 10px;
}

.Stl {
	background-color: #cbbca7;
	text-align: center;
	border: 1px solid #cbbca7;
	padding: 5px;
}

.Stl a {
	margin-left: 30px;
	--bs-btn-padding-y: 0.5rem;
	--bs-btn-padding-x: 2rem;
	--bs-btn-font-size: 0.8rem;
	background-color: #cbbca7;
	border: none;
}

.Stl a:hover {
	background-color: #e8b882;
}

.md_container {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}
