<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/team-project/app/src/main/resources/static/admin/css/headertest.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <title>headertest</title>
    <script src="https://kit.fontawesome.com/ee5cb5f44c.js"
    crossorigin="anonymous"></script>
    <script src="/team-project/app/src/main/resources/static/admin/js/headertest.js" defer></script>
</head>
<body>
    <nav class="header">
        <div class="navbar_logo">
            <a href=""> <!-- 이미지를 눌렀을 때 메인홈으로 이동하는 주소 넣으면 됨. -->
            <img src="/team-project/app/src/main/resources/static/img/moyeoraL.jpeg" alt="moyeora로고">
            </a>
        </div>

        <ul class="header_menu"> <!--각 태크에 맞게 기능 연결하면 됨.-->
            <li><a href="">회원가입</a></li>
            <li><a href="">로그인</a></li>
            <li><a href="">로그아웃</a></li>
            <li><a href="">Feed</a></li>
        </ul>

        <ul class="header_icons">
            <a href=""> <!-- 아이콘 클릭했을 때 사용자 설정으로 이동하는 기능 추가하면 됨. -->
            <i class="fa-solid fa-user"></i>
            </a>
        </ul>

        <a href="#" class="header_toggleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>

    <hr/>
    
</body>
</html>