<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='UTF-8'>
    <title>비트캠프 데브옵스 5기</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->



    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 900px;
        }

        td, th {
            border: 1px solid #000;
            height: 30px;
            padding: 0 10px;
            text-align: center;
        }

        /* 클릭 영역 확대 및 포인터 변경 CSS */
        tbody tr:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }
    </style>

</head>
<body>

<div class="container"></div>

<!-- 머리말 -->
<div data-th-replace="header :: header">머리말</div>

<h1>스쿨 회원 리스트</h1>

<!-- 회원 리스트 테이블 -->
<table border='1'>
    <thead>
    <tr>
        <th>회원명</th>
        <th>프로필 사진</th>
        <th>회원 등급</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="schoolUser : ${schoolUsers}" data-th-object="${schoolUser}">
        <td data-th-text="*{writer.nickname}">작성자</td>
        <td data-th-text="*{writer.photo}">사진</td>
        <td data-th-text="*{level.levelName}">회원 등급</td>
    </tr>
    </tbody>
</table>

<br>
<br>

<h1>스쿨 게시글 리스트</h1>

<!-- 새 글 추가 링크 -->
<a data-th-href="@{form(schoolNo=${schoolNo})}" href="form.html">새 글</a>

<!-- 검색창 -->
<form id="postSearchForm" action='/post/search' method="post">
    <div>
        <select name="filter">
            <option value="0">내용</option>
            <option value="1">작성자</option>
        </select>
        <input id="searchContent" name='keyword' type='text' placeholder='검색어 입력'>
        <button type="submit">검색</button>
    </div>
</form>

<!-- 관리자 공지 -->
<a data-th-href="@{noticelist(schoolNo=${schoolNo})}" href="noticelist.html">공지 사항</a>

<div id="fixed-post">
    <table border='1' data-th-data-schoolno="${schoolNo}" data-schoolno="100">
        <thead>
        <tr>
            <th>작성자</th>
            <th>사진</th>
            <th>내용</th>
            <th>작성일</th>
            <th>공지 핀</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="post : ${fixlist}" data-th-object="${post}" data-th-data-no="*{no}" data-no="100">
            <td data-th-text="*{writer.nickname}">작성자</td>
            <td data-th-text="*{writer.photo}">사진</td>
            <td class="school-post" data-th-text="*{content}" data-th-data-no="*{no}" data-no="100">게시글 내용</td>
            <td data-th-text="${#dates.format(post.createdAt,'yyyy-MM-dd')}">작성일</td>
            <td><input type="checkbox" class="fix-checkbox" data-th-data-no="*{no}" data-no="100"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 검색 결과 테이블 -->
<div id="searchResult">
    <table border='1' data-th-data-schoolno="${schoolNo}" data-schoolno="100">
        <thead>
        <tr>
            <th>작성자</th>
            <th>사진</th>
            <th>내용</th>
            <th>작성일</th>
            <th>공지 핀</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="post : ${postlists}" data-th-object="${post}" data-th-data-no="*{no}" data-no="100">
            <td data-th-text="*{writer.nickname}">작성자</td>
            <td data-th-text="*{writer.photo}">사진</td>
            <td class="school-post" data-th-text="*{content}" data-th-data-no="*{no}" data-no="100">게시글 내용</td>
            <td data-th-text="${#dates.format(post.createdAt,'yyyy-MM-dd')}">작성일</td>
            <td><input type="checkbox" class="post-checkbox" data-th-data-no="*{no}" data-no="100"></td>
        </tr>
        </tbody>
    </table>
</div>


<!-- 게시글 고정 해제 모달 -->
<div class="modal fade" id="unfixConfirmationModal" tabindex="-1" aria-labelledby="unfixConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unfixConfirmationModalLabel">게시글 고정 해제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                선택한 글의 고정을 해제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-danger" id="confirmUnfixBtn">예</button>
            </div>
        </div>
    </div>
</div>


<!-- 게시글 카테고리 바꾸기 모달 -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">게시물 상단 고정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                선택한 글을 상단에 고정하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="confirmBtn">확인</button>
            </div>
        </div>
    </div>
</div>

<div data-th-replace="post/view2 :: modal">포스트 상세보기 모달</div>


<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script>

    // 댓글 등록 버튼 클릭 이벤트 핸들러
    $(document).on("click", "#addComment", function() {
        // 댓글 등록 확인 모달 띄우기
        $("#commentModal").modal("show");
    });

    // 댓글 등록 확인 버튼 클릭 이벤트 핸들러
    $(document).on("click", "#commentYes", function() {
        var comment = $("input[name='comment']").val(); // 입력된 댓글 가져오기

        // 댓글이 비어있는지 확인
        if (comment.trim() === '') {
            alert("댓글을 입력하세요.");
            return;
        }

        // 댓글 등록 확인 다이얼로그
        $.ajax({
            type: 'POST', // 데이터를 전송할 HTTP 메서드를 선택
            url: 'commentAdd', // 백엔드 URL (본 예제에서는 임의의 URL로 설정되어 있음)
            data: {
                content: comment // 댓글 내용을 백엔드로 전송
            },
            success: function(response) {
                alert("댓글이 성공적으로 등록되었습니다!");
                // 여기에 추가로 필요한 작업을 수행할 수 있음
            },
            error: function(xhr, status, error) {
                alert("댓글 등록에 실패했습니다. 오류 메시지: " + error);
            }
        });

        // 모달 닫기
        $("#commentModal").modal("hide");
    });

    // 댓글 등록 취소 버튼 클릭 이벤트 핸들러
    $(document).on("click", "#commentNo", function() {
        // 모달 닫기
        $("#commentModal").modal("hide");
    });
</script>
<script>
    let no;

    let fixedPost = $('#fixed-post tbody');



    $('#confirmBtn').on('click', function() {
        console.log(no);

        $('#confirmationModal').modal('hide');

        // 해당 테이블에 글이 이미 있는지 확인
        if ($('#fixed-post tbody tr').length > 0) {
            // 이미 글이 있는 경우 경고 메시지 표시
            alert('이미 공지글이 등록되어 있습니다. 공지는 한 개만 등록할 수 있습니다.');
            return; // 동작 중지
        }

        $.ajax({
            url: 'fix',
            method: 'POST',
            data: { no: no, categoryNo: 3 },
            success: function(response) {
                alert('공지가 성공적으로 등록되었습니다.');

//                changepostClassName(no);

                refreshPage()


            },
            error: function(xhr, status, error) {
                alert('공지 등록 실패.');

            }
        });

    });

    // 체크박스 클릭 이벤트 핸들러
    $("#searchResult").on('change', '.post-checkbox', function() {
        console.log('post-checkbox............');
        if ($(this).prop('checked')) {
            no = $(this).data('no');


            // 모달 표시
            $('#confirmationModal').on('hidden.bs.modal', function () {
                // 모달이 숨겨질 때 체크박스를 해제합니다.
                $('.post-checkbox').prop('checked', false);
            });
            $('#confirmationModal').modal('show');
        }
    });



    // 체크박스 상단 고정 게시물 해제 이벤트 핸들러
    $("#fixed-post").on('change', '.fix-checkbox', function() {
        console.log('fix-checkbox............');
        if ($(this).prop('checked')) {
            no = $(this).data('no');
            // 모달 표시
            $('#unfixConfirmationModal').on('hidden.bs.modal', function () {
                // 모달이 숨겨질 때 체크박스를 해제합니다.
                $('.fix-checkbox').prop('checked', false);
            });
            $('#unfixConfirmationModal').modal('show');
        }
    });


    // 게시글 고정 해제 모달에서 '예'를 선택한 경우
    $('#confirmUnfixBtn').on('click', function() {
        console.log(no);
        $('#unfixConfirmationModal').modal('hide');

        // 카테고리 번호를 0으로 변경하여 서버에 전송
        $.ajax({
            url: 'fixCancel',
            method: 'POST',
            data: { no: no, categoryNo: 0 },
            success: function(response) {
                alert('게시글 고정이 해제되었습니다.');

                refreshPage()
            },
            error: function(xhr, status, error) {
                alert('게시글 고정 해제 실패.');

            }
        });
    });

    function refreshPage() {
        location.reload(); // 현재 페이지를 리로드합니다.
    }






    // 페이지가 로드되면 체크박스 이벤트를 설정
    $(document).ready(function() {
        // 체크박스 클릭 이벤트 핸들러 (이벤트 위임 사용)
        $("#searchResult").on('change', '.post-checkbox', function() {
            if ($(this).prop('checked')) {
                no = $(this).data('no');
                // 모달 표시
                $('#confirmationModal').on('hidden.bs.modal', function () {
                    // 모달이 숨겨질 때 체크박스를 해제합니다.
                    $('.post-checkbox').prop('checked', false);
                });
                $('#confirmationModal').modal('show');
            }
        });
        // 체크박스 상단 고정 게시물 해제 이벤트 핸들러 (이벤트 위임 사용)
        $("#fixed-post").on('change', '.fix-checkbox', function() {
            if ($(this).prop('checked')) {
                no = $(this).data('no');
                // 모달 표시
                $('#unfixConfirmationModal').on('hidden.bs.modal', function () {
                    // 모달이 숨겨질 때 체크박스를 해제합니다.
                    $('.fix-checkbox').prop('checked', false);
                });
                $('#unfixConfirmationModal').modal('show');
            }
        });
    });

</script>
<script>

    const postModal = new bootstrap.Modal('#postModal', {
        keyboard: false

    })
    // 클릭된 게시글 데이터의 상세 모달 표시 이벤트 핸들러
    $('.school-post').on('click', function(event) {
        let schoolNo = document.querySelector('#searchResult > table').getAttribute('data-schoolno');
        let no = $(this).data('no');
        console.log(no);
        console.log(schoolNo);


        setPostNo(no);

        showPostModal(no,schoolNo);
    });

    // 클릭된 게시글 데이터의 no를 저장하는 함수
    function setPostNo(no) {
        no = no;
    }

    function setSchoolNo(schoolNo) {
        schoolNo = schoolNo;
    }

    function getSchoolNo() {
        return schoolNo;
    }
    // 클릭된 게시글 데이터의 no를 가져오는 함수
    function getPostNo() {
        return no;
    }

    // 클릭된 게시글 데이터를 모달로 표시하는 함수
    function showPostModal(no , schoolNo) {
        // AJAX를 통해 게시글 데이터를 가져온 후 모달로 표시
        // 1) post 상세 정보 요청
        $.ajax('view2/' + schoolNo, {
            method: 'GET',
            data: {no: no},
            dataType: 'json'
        }).done(function(result) {
            console.log(result);

            // 서버에서 가져온 데이터로 모달창의 입력폼을 초기화시키기
            initModal(result);

            // 모달 창 띄우기
            postModal.show();
        }).fail(function() {
            console.log("실패!");
        });
        // 2) JSON으로 받은 객체를 가지고 모달 창을 띄워서 입력 폼에 값을 채운다.

        function initModal(data) {
            //주어진 데이터로 모달창의 입력폼을 채운다.
            $('#post-form #nickname').val(data.post.writer.nickname);
            $('#post-form #no').val(data.post.no);
            $('#post-form #photo').val(data.post.writer.photo);
            $('#post-form #content').val(data.post.content);

            // createdAt 날짜 데이터를 yyyy-MM-dd 형식으로 변환하는 함수
            function formatDate(date) {
                // 날짜 객체 생성
                var newDate = new Date(date);
                // 년, 월, 일 추출
                var year = newDate.getFullYear();
                var month = newDate.getMonth() + 1;
                var day = newDate.getDate();

                // 월과 일이 한 자리 수인 경우 앞에 0을 추가하여 두 자리로 만듭니다.
                if (month < 10) {
                    month = '0' + month;
                }
                if (day < 10) {
                    day = '0' + day;
                }

                // yyyy-MM-dd 형식으로 반환
                return year + '-' + month + '-' + day;
            }

            // createdAt 날짜 데이터를 원하는 형식으로 변환하여 입력 폼에 설정
            $('#post-form #createdat').val(formatDate(data.post.createdAt));


            var commentsList = $('#commentsTable').find('tbody');
            commentsList.empty(); // 목록 초기화

            $.each(data.comments, function(index, comment) {
                var listItem = '<tr>' +
                '<td><img src="' + comment.writer.photo + '" alt="프로필 사진"></td>' +
                '<td>' + comment.writer.nickname + '</td>' +
                '<td>' + comment.content + '</td>' +
                '<td>' + formatDate(comment.createdAt) + '</td>' +
                '</tr>';
                commentsList.append(listItem);
            });

            // 파일 목록 출력
            var filesList = $('#filesTable').find('tbody');
            filesList.empty(); // 목록 초기화

            $.each(data.files, function(index, file) {
                var listItem = '<tr>' +
                '<td>' + file.fileName + '</td>' +
                '<td>' + file.type + '</td>' +
                '</tr>';
                filesList.append(listItem);
            });
        }




    }

///현준님 작업
    $(document).ready(function() {
        // 폼이 제출되었을 때의 동작 설정
        $("#postSearchForm").submit(function(event) {
            // 폼의 기본 동작인 페이지 리로드를 막습니다.
            event.preventDefault();

            // 입력된 content를 가져옵니다.
            var content = $("#searchContent").val();

            // 서버에 검색 요청을 보냅니다.
            $.ajax({
                type: "GET",
                url: "/post/search", // 검색을 처리할 서버의 엔드포인트
                data: { content: content }, // 검색어를 전달합니다.
                success: function(response) {
                    // 검색 결과를 받아와서 HTML로 표시합니다.
                    $("#searchResult").html(response);
                },
                error: function(xhr, status, error) {
                    console.error("검색 요청 실패:", error);
                }
            });
        });

        // 글 수정하기 버튼 클릭 이벤트 핸들러
        $("#update").on('click',function() {
//            var no = $(this).data('no');
//            var schoolNo = document.querySelector('#searchResult > table').getAttribute('data-schoolno');
//            console.log(no);
//            console.log(schoolNo);


            let schoolNo = document.querySelector('#searchResult > table').getAttribute('data-schoolno');
            let no = $(this).data('no');
            console.log(no);
            console.log(schoolNo);

            // 새로운 URL 생성
            var newURL = 'md?no=' + no + '&schoolNo=' + schoolNo;

            // 모달 닫기
            $("#postModal").modal("hide");

            // URL로 이동
            window.location.href = newURL;
        });
    });



</script>

</body>
</html>