<!DOCTYPE html>

<html lang='en' xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"-->
<!--          integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="-->
<!--          crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css/">-->

<!--    민준 로컬 작업용 부트스트랩,서머노트 import-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/summernote/summernote.min.css" rel="stylesheet">



<!--    include summernote css/js-->
<!--    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>-->

    <style type="text/css">

        table {
            border-collapse: collapse;
            width: 100%; /* 테이블 너비를 100%로 설정하여 부모 요소에 맞게 조절될 수 있도록 합니다. */
        }

        td, th {
            border: 1px solid #000;
            height: 30px;
            padding: 0 10px;
            text-align: center;
        }

        /* 테이블 내부 요소 호버 효과 */
        tbody tr:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }

        /* 드롭다운 요소 스타일 */
        .dropdown-menu {
            width: auto !important; /* 내부 내용에 맞게 자동으로 조절 */
            min-width: 100%; /* 최소 너비를 100%로 설정하여 내용이 적어도 전체 너비를 차지하도록 합니다. */
            max-width: none !important; /* 최대 너비 설정 제거 */

}

        .modal-dialog {
            max-width: 750px; /* 또는 필요한 크기로 지정 */
        }

        /* 화살표 제거 */
        .dropdown-toggle::after {

            background-color: #f5f5dc; /* 연한 갈색 */
            width: 100%; /* 테이블 영역만큼 너비 조절 */
            display: none;
        }
    </style>

    <!--새 글쓰기 모달 참조-->

<!--    <script type="text/javascript"-->
<!--            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=62ae4a410f33ef883e67c3c603a063ed&libraries=services"></script>-->
<!--    &lt;!&ndash;		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"&ndash;&gt;-->
<!--    &lt;!&ndash;		        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="&ndash;&gt;-->
<!--    &lt;!&ndash;		        crossorigin="anonymous" referrerpolicy="no-referrer"></script>&ndash;&gt;-->
<!--    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
<!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->


    <!-- include libraries(jQuery, bootstrap) -->
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"-->
<!--            crossorigin="anonymous"></script>-->


    <!-- 공통 헤더 적용 첨부 -->
    <link rel="stylesheet" href="/static/admin/css/header.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
          rel="stylesheet">

    <title>스쿨 메인페이지</title>

<!--    <script src="https://kit.fontawesome.com/ee5cb5f44c.js" crossorigin="anonymous"></script>-->


</head>
<body>

<div class="container"></div>

<div data-th-replace="header :: header"></div>

<h1>스쿨 회원 리스트</h1>

<!-- 회원 리스트 테이블 -->
<table border='1'>
    <thead>
    <tr>
        <th>회원명</th>
        <th>프로필 사진</th>
        <th>회원 등급</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="schoolUser : ${schoolUsers}" data-th-object="${schoolUser}">
        <td data-th-text="*{writer.nickname}">작성자</td>
        <td>
            <img th:src="'https://kr.object.ncloudstorage.com/moyeorastorage/user/' + ${schoolUser.writer.photo}"
                 style="width: 50px; height: 50px;">
        </td>
        <td data-th-text="*{level.levelName}">회원 등급</td>
    </tr>
    </tbody>
</table>

<br>
<br>

<h1>스쿨 게시글 리스트</h1>

 검색창
<form action="/post/search" method="post">
    <div>
        <select name="filter">
            <option value="0">내용</option>
            <option value="1">작성자</option>
        </select>
        <input name="keyword" type="text" placeholder="검색어를 입력하세요."/>
        <input id="schoolNo" name="schoolNo" type="hidden" value="1"/><!-- schoolNo를 Integer로 선언 -->
        <button id="postSearchForm">검색</button>
    </div>
</form>

<!--<div class="container" data-th-if="${joined}">-->
<!--    <div class="row" style="width: 100px">-->
<!--        <div class="col-md-2">-->
<!--        </div>-->
<!--        <div class="col-md-8" style="text-align:center;" id="">-->
<!--            <div id="post_setting" onclick="postForm()" style="width: 120px">-->
<!--                <button>새 글 작성</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<button class="post-add" id="postAddBtn">새 글 작성</button>


<!--</div>-->


<!-- 스쿨에 가입하지 않은 경우에만 가입하기 버튼을 보여줌 -->
<!--<div data-th-unless="${joined}">-->
<!--    <button id="joinButton">가입하기</button>-->
<!--</div>-->


<!--<th:block th:unless="${schoolUser}">-->
<!--		<button id="joinButton">가입하기</button>-->
<!--</th:block>-->







<!-- 관리자 공지 -->



<a data-th-href="@{noticelist(schoolNo=${schoolNo})}" href="noticelist.html">공지 사항</a>

<div id="fixed-post">
    <table border='1' data-th-data-schoolno="${schoolNo}" data-schoolno="100">
        <thead>
        <tr>
            <th>닉네임</th>
            <th>사진</th>
            <th>내용</th>
            <th>작성일</th>
            <th>작업</th>
            <th>고정해제</th>
                 </tr>
                    </thead>
                         <tbody>
                             <tr data-th-each="post : ${fixlist}" data-th-object="${post}" data-th-data-no="*{no}" data-no="100">
                                <td data-th-text="*{writer.nickname}">작성자</td>
                                 <td>
                                     <img th:src="'https://kr.object.ncloudstorage.com/moyeorastorage/user/' + ${post.writer.photo}"
                                          style="width: 50px; height: 50px;">
                                 </td>
                                 <td class="school-post" data-th-text="*{content}" data-th-data-no="*{no}" data-no="100">게시글 내용</td>
                                 <td data-th-text="${#dates.format(post.createdAt,'yyyy-MM-dd')}">작성일</td>
                                 <td>작업</td>
                                 <td><input type="checkbox" class="fix-checkbox" data-th-data-no="*{no}" data-no="100"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
<br>
<br>
<br>

<div id="searchResult">
    <table border='1' data-th-data-schoolno="${schoolNo}">
        <thead>
        <tr>
            <th>닉네임</th>
            <th>사진</th>
            <th>내용</th>
            <th>작성일</th>
            <th>작업</th>
<!--            <th>고정 핀</th>-->
        </tr>
        </thead>

        <tbody>
        <tr data-th-each="post : ${postlist}" data-th-object="${post}" data-th-data-no="${post.no}" data-no="100">
            <td data-th-text="*{writer.nickname}">작성자</td>
            <td>
                <img th:src="'https://kr.object.ncloudstorage.com/moyeorastorage/user/' + ${post.writer.photo}" style="width: 50px; height: 50px;">
            </td>
            <td class="school-post" th:utext="*{content}" data-th-data-no="${no}" data-no="100">게시글 내용</td>
            <td data-th-text="${#dates.format(post.createdAt,'yyyy-MM-dd')}">작성일</td>
            <td>
                <div class="dropdown" data-th-data-no="${no}" data-no="100">
                    <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" data-action="1" data-th-data-no="${no}" data-no="100">작업1</a>
                        <a class="dropdown-item" href="#" data-action="2" data-th-data-no="${no}" data-no="100">작업2</a>
                        <a class="dropdown-item" href="#" data-action="3" data-th-data-no="${no}" data-no="100">작업3</a>
                        <a class="dropdown-item" href="#" data-action="4" data-th-data-no="${no}" data-no="100">게시글 고정</a>
                    </div>
                </div>
            </td>
<!--            <td><input type="checkbox" class="post-checkbox" data-th-data-no="${post.no}" data-no="100"></td>-->
        </tr>
        </tbody>
    </table>
</div>





<!-- 게시글 고정 해제 모달 -->
<div class="modal fade" id="unfixConfirmationModal" tabindex="-1" aria-labelledby="unfixConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unfixConfirmationModalLabel">게시글 고정 해제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                선택한 글의 고정을 해제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-danger" id="confirmUnfixBtn">예</button>
            </div>
        </div>
    </div>
</div>


<!-- 게시글 카테고리 바꾸기 모달 -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">게시물 상단 고정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                선택한 글을 상단에 고정하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="confirmBtn">확인</button>
            </div>
        </div>
    </div>
</div>



<!--댓글 CRUD 관련 모달-->
<!-- 댓글 등록 모달 1-->
<div class="modal fade" id="commentModal1" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">댓글 등록</h5>
                <br>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br>
            <div class="modal-body">
                <textarea id="commentInput" rows="4" cols="50"></textarea>
                <br>
                <button class="submit-comment-btn">댓글 작성</button>
                <button type="button" class="btn btn-secondary" id="commentNo1" data-dismiss="modal">아니오</button>

            </div>
        </div>
    </div>
</div>

<!-- 댓글 등록 모달 2-->
<div class="modal fade" id="commentModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">댓글 등록 확인</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">댓글을 등록하시겠습니까?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="commentNo" data-dismiss="modal">아니오</button>
                <button type="button" class="btn btn-primary" id="commentYes">예</button>
            </div>
        </div>
    </div>
</div>

<!--댓글 수정 모달1-->
<div class="modal fade" id="commentUpdateModal1" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentUpdateModalLabel1">댓글 수정</h5>
                <br>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br>
            <div class="modal-body">
                <textarea id="commentUpdateInput" rows="4" cols="50"></textarea>
                <br>
                <button type="button" class="btn btn-primary" id="commentUpdateSubmit">수정하기</button>
                <button type="button" class="btn btn-secondary" id="commentUpdateCancel" data-dismiss="modal">취소</button>

            </div>
        </div>
    </div>
</div>

<!--댓글 수정 모달2-->
<div class="modal fade" id="commentUpdateModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentUpdateModalLabel2">댓글 수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">댓글을 수정하시겠습니까?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="commentUpdateNo" data-dismiss="modal">아니오</button>
                <button type="button" class="btn btn-primary" id="commentUpdateYes">예</button>
            </div>
        </div>
    </div>
</div>


<!--댓글 삭제 모달-->
<div class="modal fade" id="commentDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentDeleteModalLabel">댓글 삭제</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">댓글을 삭제하시겠습니까?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="commentDeleteNo" data-dismiss="modal">아니오</button>
                <button type="button" class="btn btn-primary" id="commentDeleteYes">예</button>
            </div>
        </div>
    </div>
</div>




<div data-th-replace="post/postModal/form :: postAdd-modal">새 글 작성</div>

<div data-th-replace="post/view :: modal">포스트 상세보기 모달</div>

<!--<div data-th-replace="post/postModal/md :: postMd-modal">글 수정</div>-->

<!--<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.12.1/qs.min.js"-->
<!--        integrity="sha512-vuLOE4Fh9lfxaN9n81Vl1HwrqMYz9WKoNmsHNC7Hz7OWX4k4O7FjCyQ1tQ82RJExao+Fas40RLiS5PCfVRGgnQ=="-->
<!--        crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"-->
<!--		        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="-->
<!--		        crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/summernote/summernote.min.js"></script>
<!--댓글 등록 자바스크립트-->
<script>

    var selectedPost = {
        no: null
    };

    var selectedCommentNo = {
        no: null
    };

    var selectedCommentContent = {
        content: null
    };

    var selectedCommentUserNo = {
        no: null
    };

    var schoolNo = getSchoolNoFromUrl();



    function getCurrentUrl() {
        return window.location.href;
    }

    // 현재 페이지의 URL에서 schoolNo를 가져오는 함수
    function getSchoolNoFromUrl() {
        // 현재 URL을 가져옵니다.
        var currentUrl = getCurrentUrl();

        // URL에서 '?' 문자열의 인덱스를 찾습니다.
        var questionMarkIndex = currentUrl.indexOf('?');

        // 쿼리 문자열이 없는 경우 -1을 반환하므로 이를 확인합니다.
        if (questionMarkIndex === -1) {
            // 쿼리 문자열이 없는 경우에 대한 처리를 여기에 추가합니다.
            console.error('쿼리 문자열이 없습니다.');
            return null; // 또는 적절한 기본값을 반환합니다.
        }

        // 쿼리 문자열을 추출합니다.
        var queryString = currentUrl.substring(questionMarkIndex + 1);

        // 쿼리 문자열을 & 기준으로 나누어 배열로 만듭니다.
        var queryParams = queryString.split('&');

        // schoolNo를 찾기 위한 반복문
        for (var i = 0; i < queryParams.length; i++) {
            // 현재 요소를 '='을 기준으로 나누어 key와 value로 분리합니다.
            var keyValue = queryParams[i].split('=');
            // key가 'schoolNo'인 경우 해당 value를 반환합니다.
            if (keyValue[0] === 'schoolNo') {
                return keyValue[1];
            }
        }

        // 쿼리 문자열에 'schoolNo'가 없는 경우에 대한 처리를 여기에 추가합니다.
        console.error('쿼리 문자열에서 schoolNo를 찾을 수 없습니다.');
        return null; // 또는 적절한 기본값을 반환합니다.
    }



    function setCommentNo(commentNo) {
        commentNo = commentNo;
    }

    function setContent(content) {
        content = content;
    }

    function setPostNo(no) {
        no = no;
    }

    function setUserNo(userNo) {
        userNo = userNo;
    }

    function setSchoolNo(schoolNo) {
        schoolNo = schoolNo;
    }

    function getSchoolNo() {
        return schoolNo;
    }
    // 클릭된 게시글 데이터의 no를 가져오는 함수
    function getPostNo() {
        return no;
    }










    // 댓글 등록 버튼 클릭 이벤트 핸들러
    $(document).on("click", "#addComment", function() {

        alert("@@@@@@@@@@@@@@@@@ + 댓글 등록 이벤트 핸들러 동작")
        //             댓글 등록 확인 모달 띄우기
        //            let selectedPost = {
        //                no: null,
        //                schoolNo: null
        //            };
        //

        console.log("@@@@@@@@@@@@@@" + schoolNo);
        console.log("@@@@@@@@@@@@@@" + selectedPost.no);






        $("#postModal").modal("hide");

        $("#commentModal1").modal("show");
    });

    $(document).on("click", "#commentNo1", function() {
        // 모달 닫기
        $("#commentModal1").modal("hide");
    });




    $('.submit-comment-btn').click(function() {

        $("#commentModal1").modal("hide");

        $("#commentModal2").modal("show");
    });




    // 댓글 등록 확인 버튼 클릭 이벤트 핸들러
    $(document).on("click", "#commentYes", function() {
        $("#commentModal2").modal("hide");
        //            parseInt(schoolNo);

        console.log("@@@@@@@@@댓글을 등록할 게시글이 있는 스쿨의 번호 = " + schoolNo);

        console.log("@@@@@@@@@@@@@@댓글을 등록할 게시글의 번호 = " + selectedPost.no);



        let postNo = selectedPost.no;

        let content = $("#commentInput").val(); // 댓글 내용을 가져옴

        console.log("@@@@@@@@@@@@" + content);

        console.log("@@@@@@@@@@@@전역변수를 저장한 postNo" + postNo);


        setContent(content);
        setPostNo(postNo);
        setSchoolNo(schoolNo);

        commentAdd(content,postNo,schoolNo);

    });



    function commentAdd(content, postNo, schoolNo) {

        var commentData = {
            content: content,
            postNo: postNo,
            schoolNo: schoolNo,
        };

        $.ajax({
            type: 'POST',
            url: '../comment/addComment',
            contentType: 'application/json', // Content-Type 지정
            data: JSON.stringify(commentData),
            success: function(response) {
                if (response.status === "댓글 등록 성공") {
                    alert("댓글이 성공적으로 등록되었습니다!");
                } else {
                    alert("댓글 등록에 실패했습니다. " + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert("댓글 등록에 실패했습니다. 오류 메시지: " + error);
            }
        });

        // 모달 닫기
        $("#commentModal2").modal("hide");
    }


</script>

<!--댓글 수정 삭제 스크립트-->
<script>



    function removeComment(commentNo,userNo,schoolNo){

        var commentDeleteData =
        {commentNo: commentNo,
            userNo: userNo,
            schoolNo: schoolNo,

        };

        $.ajax({
            type: 'POST',
            url: '../comment/deleteComment',
            contentType: 'application/json', // Content-Type 지정
            data: JSON.stringify(commentDeleteData), // 변환된 JSON 데이터 전송
            success: function(response) {
                if (response.status === "success") {
                    alert("댓글이 삭제되었습니다!");


                } else {
                    // 오류가 발생한 경우
                    alert("댓글 삭제에 실패했습니다. 오류 메시지: " + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert("댓글 삭제에 실패했습니다. 오류 메시지: " + error);
            }
        });
        $('#commentDeleteModal').modal("hide");
    }


    //댓글 삭제 부분
    function deleteComment(commentNo) {
        alert('댓글삭제입니다 = ' + commentNo);
        selectedCommentNo.no = commentNo;
        console.log("댓글유저번호 = " + selectedCommentUserNo.no);

        $('#postModal').modal("hide");
        $('#commentDeleteModal').modal("show");


    }

    $(document).on("click", "#commentDeleteYes", function(event) {

        var userNo = selectedCommentUserNo.no;
        var commentNo = selectedCommentNo.no;

        console.log("댓글 번호가 살아있나? = " + commentNo);
        console.log("유저 번호가 살아있나? = " + userNo);
        console.log("스쿨 번호가 살아있나? = " + schoolNo);

        setCommentNo(commentNo);
        setSchoolNo(schoolNo);
        setUserNo(userNo);

        removeComment(commentNo,userNo,schoolNo);
        $('#commentDeleteModal').modal("hide");

    });

    $(document).on("click", "#commentDeleteNo", function(event) {
        $('#commentDeleteModal').modal("hide");
    });



    function updateComment(content , commentNo , schoolNo, userNo) {
        var commentUpdateData =
        {content: content,
            commentNo: commentNo,
            schoolNo: schoolNo,
            userNo: userNo};

        $.ajax({
            type: 'POST',
            url: '../comment/updateComment',
            contentType: 'application/json', // Content-Type 지정
            data: JSON.stringify(commentUpdateData), // 변환된 JSON 데이터 전송
            success: function(response) {
                if (response.status === "success") {
                    alert("댓글을 수정하였습니다.");
                } else {
                    // 오류가 발생한 경우
                    alert("댓글 수정에 실패했습니다." + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert("댓글 수정에 실패했습니다. 오류 메시지: " + error);
            }
        });

    }





    // 수정을 위한 모달창 호출 함수
    function editComment(commentNo) {
        alert('댓글수정입니다 = ' + commentNo);
        selectedCommentNo.no = commentNo;
        $('#postModal').modal("hide");
        $('#commentUpdateModal1').modal("show");
    }

    $(document).on("click", "#commentUpdateCancel", function() {
        // 모달 닫기
        $('#commentUpdateModal1').modal("hide");
    });

    //댓글 수정 등록 버튼 클릭시
    $(document).on("click", "#commentUpdateSubmit", function() {

        selectedCommentContent.content = $("#commentUpdateInput").val(); // 댓글 내용을 가져옴

        console.log("수정할 댓글내용 = " + selectedCommentContent.content);

        $('#commentUpdateModal1').modal("hide");
        $('#commentUpdateModal2').modal("show");
    });



    //댓글 수정 예 를 눌렀을 시
    $(document).on("click", "#commentUpdateYes", function() {
        // 모달 닫기
        $('#commentUpdateModal2').modal("hide");

        var commentNo = selectedCommentNo.no;
        var content = selectedCommentContent.content;
        var userNo = selectedCommentUserNo.no;


        console.log("스쿨 번호가 살아있나? = " + schoolNo);
        console.log("댓글 번호가 살아있나? = " + commentNo);
        console.log("댓글 내용이 살아있나? = " + content);
        console.log("유저 번호가 살아있나? = " + userNo);

        alert("댓글 등록 ajax요청 시작");


        setContent(content);
        setCommentNo(commentNo);
        setSchoolNo(schoolNo);
        setUserNo(userNo);
        updateComment(content,commentNo,schoolNo,userNo);

    });



    //댓글 등록 아니오를 눌렀을 시
    $(document).on("click", "#commentUpdateNo", function() {
        // 모달 닫기
        $('#commentUpdateModal2').modal("hide");
    });





    $(document).ready(function() {
        $('#commentsTable').on('click', '.dropdown-toggle', function(event) {
            // 클릭된 행의 commentNo를 가져옴

            var clickedRow = $(this).closest('tr');

            // 클릭된 행의 commentNo를 가져옴
            var commentNo = clickedRow.find('td:eq(4)').text()

            console.log("댓글번호@@@@@@@@" + commentNo);

            selectedCommentUserNo.no = clickedRow.find('td:eq(5)').text();



            console.log('Clicked userNo = ', selectedCommentUserNo.no);
            console.log('Clicked commentNo =', commentNo);
            // 클릭된 드롭다운 항목의 클래스에 따라 작업을 분기하여 처리


            if ($(this).hasClass('editComment')) {
                // 수정 드롭다운 항목을 클릭한 경우
            } else if ($(this).hasClass('deleteComment')) {
                // 삭제 드롭다운 항목을 클릭한 경우

                // 클릭된 드롭다운 항목의 기본 동작을 막음

            }
            event.preventDefault();
        });


    });


</script>
<!--댓글 수정 관련-->


<!--게시글 고정 기능-->
<script>
    var postNo = $(this).data('no');

    let fixedPost = $('#fixed-post tbody');



    $('#confirmBtn').on('click', function() {
        console.log("고정할 게시글의 번호 =" + postNo);

        $('#confirmationModal').modal('hide');

        // 해당 테이블에 글이 이미 있는지 확인
        if ($('#fixed-post tbody tr').length > 0) {
            // 이미 글이 있는 경우 경고 메시지 표시
            alert('이미 고정글이 등록되어 있습니다. 한 게시글만 등록할 수 있습니다.');
            return; // 동작 중지
        }

        $.ajax({
            url: 'fix',
            method: 'POST',
            data: { no: postNo, categoryNo: 3 },
            success: function(response) {

                if (response.status === "success") {

                    alert('게시글이 고정되었습니다.');
                        refreshPage()
                } else {
                // 오류가 발생한 경우

                alert("게시글 고정에 실패했습니다." + response.message);

                }
                        },
                        error: function(xhr, status, error) {
                            alert('공지 등록 실패.');

                        }
                    });

                });

//    // 체크박스 클릭 이벤트 핸들러
//    $("#searchResult").on('change', '.post-checkbox', function() {
//        console.log('post-checkbox............');
//        if ($(this).prop('checked')) {
//            no = $(this).data('no');
//
//
//            // 모달 표시
//            $('#confirmationModal').on('hidden.bs.modal', function () {
//                // 모달이 숨겨질 때 체크박스를 해제합니다.
//                $('.post-checkbox').prop('checked', false);
//            });
//            $('#confirmationModal').modal('show');
//        }
//    });



    // 체크박스 상단 고정 게시물 해제 이벤트 핸들러
    $("#fixed-post").on('change', '.fix-checkbox', function() {
        console.log('fix-checkbox............');
        if ($(this).prop('checked')) {
            no = $(this).data('no');
            console.log('이 게시글의 번호는 =' + no);
            // 모달 표시
            $('#unfixConfirmationModal').on('hidden.bs.modal', function () {
                // 모달이 숨겨질 때 체크박스를 해제합니다.
                $('.fix-checkbox').prop('checked', false);
            });
            $('#unfixConfirmationModal').modal('show');
        }
    });


    // 게시글 고정 해제 모달에서 '예'를 선택한 경우
    $('#confirmUnfixBtn').on('click', function() {
        console.log(no);
        $('#unfixConfirmationModal').modal('hide');

        // 카테고리 번호를 0으로 변경하여 서버에 전송
        $.ajax({
            url: 'fixCancel',
            method: 'POST',
            data: { no: no, categoryNo: 0 },
            success: function(response) {
                if (response.status === "success") {
                    alert("해제되었습니다.");


                } else {
                    // 오류가 발생한 경우
                    alert("게시글 고정 해제에 실패했습니다." + response.message);
                }
                refreshPage()
            },
            error: function(xhr, status, error) {
                alert('게시글 고정 해제 실패.');

            }
        });
    });

    function refreshPage() {
        location.reload(); // 현재 페이지를 리로드합니다.
    }








</script>

<!--댓글 표시 모달-->
<script>




    const postModal = new bootstrap.Modal('#postModal', {
        keyboard: false

    })
    // 클릭된 게시글 데이터의 상세 모달 표시 이벤트 핸들러
    $('#searchResult').on('click', 'tr', function(event) {



        if ($(event.target).closest('td').find('input[type="checkbox"]').length > 0) {
            // 체크박스가 있는 <th>를 클릭한 경우 댓글 상세조회 모달을 출력하지 않음
            return;
        }

        if ($(event.target).closest('td').find('.dropdown-toggle').length > 0) {
            return;
        }

        let schoolNo = document.querySelector('#searchResult > table').getAttribute('data-schoolno');
        let no = $(this).data('no');

        selectedPost.no = no;

        console.log("전역변수에 게시글번호 넣어놨다가 써야지 = " + selectedPost.no);
        console.log(schoolNo);
        console.log("@@@@@@@@@@@해당 게시글 일반 no 번호 = " + no);




        setPostNo(no);

        showPostModal(no,schoolNo);
    });


    // 클릭된 게시글 데이터를 모달로 표시하는 함수
    function showPostModal(no , schoolNo) {
        // AJAX를 통해 게시글 데이터를 가져온 후 모달로 표시
        // 1) post 상세 정보 요청
        $.ajax('view/' + schoolNo, {
            method: 'GET',
            data: {no: no},
            dataType: 'json'
        }).done(function(result) {
            console.log(result);

            // 서버에서 가져온 데이터로 모달창의 입력폼을 초기화시키기
            initModal(result);

            // 모달 창 띄우기
            postModal.show();
        }).fail(function() {
            console.log("실패!");
        });
        // 2) JSON으로 받은 객체를 가지고 모달 창을 띄워서 입력 폼에 값을 채운다.

        function initModal(data) {
            //주어진 데이터로 모달창의 입력폼을 채운다.
            $('#post-form #nickname').val(data.post.writer.nickname);
            $('#post-form #no').val(data.post.no);
            $('#post-form #photo').val(data.post.writer.photo);
            $('#post-form #content').val(data.post.content);

            // createdAt 날짜 데이터를 yyyy-MM-dd 형식으로 변환하는 함수
            function formatDate(date) {
                // 날짜 객체 생성
                var newDate = new Date(date);
                // 년, 월, 일 추출
                var year = newDate.getFullYear();
                var month = newDate.getMonth() + 1;
                var day = newDate.getDate();

                // 월과 일이 한 자리 수인 경우 앞에 0을 추가하여 두 자리로 만듭니다.
                if (month < 10) {
                    month = '0' + month;
                }
                if (day < 10) {
                    day = '0' + day;
                }

                // yyyy-MM-dd 형식으로 반환
                return year + '-' + month + '-' + day;
            }

            // createdAt 날짜 데이터를 원하는 형식으로 변환하여 입력 폼에 설정
            $('#post-form #createdat').val(formatDate(data.post.createdAt));


            var commentsList = $('#commentsTable').find('tbody');
            commentsList.empty(); // 목록 초기화

            $.each(data.comments, function(index, comment) {


            // 파일 목록 출력
            var filesList = $('#filesTable').find('tbody');
            filesList.empty(); // 목록 초기화

            $.each(data.files, function(index, file) {
                var listItem = '<tr>' +
                '<td>' + file.fileName + '</td>' +
                '<td>' + file.type + '</td>' +
                '</tr>';
                filesList.append(listItem);
            });
                var photoUrl = 'https://kr.object.ncloudstorage.com/moyeorastorage/user/' + comment.writer.photo;

                // 댓글 항목 생성
                var listItem = '<tr>' +
                '<td><img src="' + photoUrl + '" style="width: 50px; height: 50px;"></td>' +
                + comment.writer.photo +
                '</td>' +
                '<td>' + comment.writer.nickname + '</td>' +
                '<td>' + comment.content + '</td>' +
                '<td>' + formatDate(comment.createdAt) + '</td>' +
                '<td style="display: none;">' + comment.commentNo + '</td>' +
                '<td style="display: none;">' + comment.userNo + '</td>' +
                '<td>' +
                '<div class="comment-dropdown dropdown">' +
                '<button class="btn btn-secondary dropdown-toggle comment-dropdown-toggle" type="button" id="commentDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                '더보기' +
                '</button>' +
                '<ul class="dropdown-menu comment-dropdown-menu" aria-labelledby="commentDropdownButton">' +
                '<li><a class="dropdown-item" href="javascript:void(0);" onclick="editComment(' + comment.commentNo + ')">수정</a></li>' +
                '<li><a class="dropdown-item" href="javascript:void(0);" onclick="deleteComment(' + comment.commentNo + ')">삭제</a></li>' +
                '</ul>' +
                '</div>' +
                '</td>' +
                '</tr>';

                // 댓글 항목을 목록에 추가
                commentsList.append(listItem);
            });
        }
    }
    $('#postModal').on('shown.bs.modal', function () {
        // 모달창이 열릴 때마다 내부 컨텐츠에 맞게 모달의 너비를 조절합니다.
        $(this).find('.modal-dialog').removeClass('modal-lg modal-xl').addClass('modal-dialog-centered');
        $(this).find('.modal-content').css('height', 'auto');
    });


</script>

<script>


    $(document).on("click", "#postAddBtn", function() {

        console.log("게시글 작성 모달 실행");

        postForm();
    });



    function postForm() {
        var schoolNo = getSchoolNoFromUrl();
        console.log("@@@@@@@@@@가져온 현재 스쿨 번호입니다 = " + schoolNo);

        $('#post_add_modal').modal('show');

        // Summernote 에디터를 초기화합니다.
        $('#summernote').summernote({
            height: 300,
            width: '100%',
            callbacks: {
                onInit: function() {
                    console.log('Summernote 생성됨!');
                },
                onImageUpload: function(files) {
                    let data = new FormData();
                    for (const file of files) {
                        data.append("files", file);
                    }
            // schoolNo도 함께 전송합니다.
            data.append("schoolNo", schoolNo);

                    $.ajax({
                        url: 'file/upload', // 파일 업로드 처리를 하는 엔드포인트 URL
                        type: 'POST',
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        data: data,
//
                    }).done(function(result) {
                        if (result.length == 0) {
                            alert('게시글 작성에 실패하였습니다!');
                            return;
                        }
                        // 서버에서 받은 업로드 파일 이름을 가지고 <img> 태그를 설정합니다.
                        for (const attachedFile of result) {
                            $('#summernote').summernote('insertImage',
                                'https://kr.object.ncloudstorage.com/moyeorastorage/post/'
                                + attachedFile.filePath);
                        }
                    });
                }
            }
        });

    }
</script>

<!--드롭다운 수정-->
<script>
    $(document).ready(function() {
        // 드롭다운 버튼을 클릭했을 때
        $(document).on('click', '.dropdown-button, .comment-dropdown-toggle', function(event) {
            event.stopPropagation(); // 이벤트 전파 중지
            var no = $(this).closest('tr').data('no');
            selectedPost.no = no; // 해당 게시글의 번호 가져오기

            var dropdown = $(this).next('.dropdown-menu'); // 클릭된 버튼 다음에 오는 드롭다운 메뉴 선택

            // 현재 드롭다운 메뉴가 열려있는지 확인하여 토글링
            if (dropdown.hasClass('show')) {
                dropdown.removeClass('show'); // 열려있으면 닫기
            } else {
                $('.dropdown-menu').removeClass('show'); // 다른 드롭다운 메뉴는 닫기
                dropdown.addClass('show'); // 클릭된 드롭다운 메뉴 열기
            }

            // 클릭된 드롭다운 버튼의 게시글 번호 저장
            // dropdown.data('postNo', selectedPost.no);
        });

        // 문서의 클릭 이벤트를 감지하여 드롭다운 닫기
        $(document).on('click', function(event) {
            $('.dropdown-menu').removeClass('show'); // 모든 드롭다운 메뉴 닫기
        });

        // 각 드롭다운 항목에 대한 클릭 이벤트 설정
        $(document).on('click', '.dropdown-item', function(event) {
            event.stopPropagation(); // 이벤트 전파 중지
            event.preventDefault(); // 링크 기본 동작 방지

            var actionIndex = $(this).data('action'); // 해당 항목의 작업 인덱스 가져오기

            switch(actionIndex) {
                case 1:
                    alert("게시글 수정이 들어갈 위치 = " + selectedPost.no);
                    break;
                case 2:
                    alert("게시글 삭제가 들어갈 위치 = " + selectedPost.no);
                    break;
                case 3:
                    alert("URL복사가 들어갈 위치 = " + selectedPost.no);
                    break;
                case 4:
                    postNo = selectedPost.no;
                    console.log("case 4 게시글 고정할 번호 =" + postNo);
                    setPostNo(postNo);
                    fixPost(postNo);
                    break;
                default:
                    console.log("Unknown action");
            }

            // 드롭다운 닫기
            $(this).closest('.dropdown').removeClass('show');
        });
    });

    function fixPost(postNo) {

        $('#confirmationModal').modal('show');
    }

</script>



<!--&lt;!&ndash; 설정을 눌렀을 때 드롭다운이 나타나도록 &ndash;&gt;-->
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        // ... 버튼을 클릭할 때 드롭다운 메뉴의 가시성을 토글합니다.-->
<!--        $(".settingBtn").click(function() {-->
<!--            $(this).next(".dropdown-menu").toggle();-->
<!--        });-->
<!--    });-->
<!--</script>-->

<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        // 모든 드롭다운 메뉴를 숨깁니다.-->
<!--        $(".dropdown-menu").hide();-->

<!--        // 클래스를 가진 settingBtn 버튼을 클릭할 때 드롭다운 메뉴의 가시성을 토글합니다.-->
<!--        $(".settingBtn").click(function() {-->
<!--            // 모든 드롭다운 메뉴를 숨깁니다.-->
<!--            $(".dropdown-menu").hide();-->

<!--            // 클릭된 버튼 다음에 오는 드롭다운 메뉴를 찾아 가시성을 토글합니다.-->
<!--            $(this).next(".dropdown-menu").toggle();-->

<!--            // 클릭된 버튼 이외의 부분을 클릭할 때 드롭다운 메뉴를 숨깁니다.-->
<!--            $(document).on("click", function(event){-->
<!--                if(!$(event.target).closest(".dropdown").length) {-->
<!--                    $(".dropdown-menu").hide();-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->

<!--&lt;!&ndash;스쿨에 가입하지 않은 유저 가입하기 처리&ndash;&gt;-->

<!--&lt;!&ndash;<script>&ndash;&gt;-->

<!--&lt;!&ndash;    // 문서가 로드되면 실행될 함수&ndash;&gt;-->
<!--&lt;!&ndash;    $(document).ready(function() {&ndash;&gt;-->
<!--&lt;!&ndash;        $("#joinButton").click(function() {&ndash;&gt;-->
<!--&lt;!&ndash;            const searchParam = window.location.search.replace("?", "");&ndash;&gt;-->
<!--&lt;!&ndash;            const { schoolNo } = window.Qs.parse(searchParam);&ndash;&gt;-->
<!--&lt;!&ndash;            console.log(schoolNo);&ndash;&gt;-->
<!--&lt;!&ndash;            join(schoolNo);&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;    });&ndash;&gt;-->

<!--&lt;!&ndash;    function join(schoolNo) {&ndash;&gt;-->
<!--&lt;!&ndash;        $.ajax({&ndash;&gt;-->
<!--&lt;!&ndash;            type: "POST",&ndash;&gt;-->
<!--&lt;!&ndash;            url: "/schoolUser/addSchoolUser",&ndash;&gt;-->
<!--&lt;!&ndash;            data: { schoolNo: schoolNo },&ndash;&gt;-->
<!--&lt;!&ndash;            success: function(response) {&ndash;&gt;-->
<!--&lt;!&ndash;                // 성공 시 알림 표시 및 버튼 갱신&ndash;&gt;-->
<!--&lt;!&ndash;                alert("가입이 완료되었습니다.");&ndash;&gt;-->
<!--&lt;!&ndash;                console.log("가입 성공");&ndash;&gt;-->
<!--&lt;!&ndash;                location.reload(); // 페이지 리로드&ndash;&gt;-->
<!--&lt;!&ndash;            },&ndash;&gt;-->
<!--&lt;!&ndash;            error: function(xhr, status, error) {&ndash;&gt;-->
<!--&lt;!&ndash;                // 실패 시 에러 메시지 표시&ndash;&gt;-->
<!--&lt;!&ndash;                alert("가입에 실패했습니다. 다시 시도해 주세요.");&ndash;&gt;-->
<!--&lt;!&ndash;                console.error("가입 요청 실패:", error);&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->


<!--&lt;!&ndash;</script>&ndash;&gt;-->


<!-- 게시글 주소 복사 버튼 -->
<script>
    $(document).ready(function() {
        $('#copyLinkButton').click(function() {
            var url = window.location.href;
            var tempInput = document.createElement('input');
            tempInput.value = url;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);
            alert('게시글 주소가 복사되었습니다.');
        });
    });



</script>



<!--&lt;!&ndash; 폼 서브밋 &ndash;&gt;-->


<!--스쿨 내 게시글 검색-->
<script>
    $(document).ready(function() {
        $("#postSearchForm").submit(function(event) {
            event.preventDefault();
            var content = $("input[name='keyword']").val();
            var filter = $("select[name='filter']").val();
            var schoolNo = $("input[name='schoolNo']").val();
            $.ajax({
                type: "GET",
                url: "search",
                data: {
                    schoolNo: schoolNo,
                    keyword: content,
                    filter: filter
                },
                success: function(response) {
                    $("#searchResult").html(response);
                },
                error: function(xhr, status, error) {
                    console.error("검색 요청 실패:", error);
                }
            });
        });
    });
</script>


</body>
</html>