<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
</head>
<body>

orig

<button>스쿨 설정</button><br>
<div>
  <a href="">게시글</a>
<!--  <a data-th-href="@{/schooluser/list(schoolNo=*{schoolNo})}" href="../../schooluser/list.html"> 회원 조회</a>-->
  <a href="">일정 등록</a>
</div>


<h1>스쿨 회원 리스트</h1>

<table border='1'>
  <thread>
    <tr>
      <th>회원명</th>
      <th>프로필 사진</th>
      <th>회원 등급</th>
    </tr>
  </thread>
  <tbody>

  <tr data-th-each="schoolUser : ${schoolUsers}" data-th-object="${schoolUser}">

    <td data-th-text="*{writer.nickname}">작성자</td>
    <td data-th-text="*{writer.photo}">사진</td>
    <td data-th-text="*{levelName}">회원 등급</td>
  </tr>
  </tbody>
</table>

<br>
<br>

<h1>스쿨 게시글 리스트</h1>

<table border='1'>
<thread>
  <tr>
    <th>작성자</th>
    <th>사진</th>
    <th>내용</th>
    <th>작성일</th>
  </tr>
</thread>
<tbody>
<tr data-th-each="post : ${postlists}" data-th-object="${post}">

<!--  <input type="hidden" data-th-value="*{schoolNo}">-->
  <td data-th-text="*{writer.nickname}">작성자</td>
  <td data-th-text="*{writer.photo}">사진</td>
  <td>
    <a data-th-href="@{'view/' + *{schoolNo}(no=*{no})}" data-th-text="*{content}">내용</a>
  </td>
    <td data-th-text="${#dates.format(post.createdAt,'yyyy-MM-dd')}">작성일</td>
</tr>
</tbody>
</table>
</body>
</html>