<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='UTF-8'>
    <title>비트캠프 데브옵스 5기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style type="text/css">
        /* 기존 CSS */
        table {
            border-collapse: collapse;
            width: 900px;
        }

        td, th {
            border: 1px solid #000;
            height: 30px;
            padding: 0 10px;
            text-align: center;
        }

        /* 추가한 CSS */
        tr.clickable-row {
            cursor: pointer;
        }

        tr.clickable-row:hover {
            background-color: #f5f5f5; /* 마우스를 올렸을 때 배경색 변경 */
        }
    </style>


</head>
<body>


<div class="container"></div>

<!-- 머리말 -->
<div data-th-replace="header :: header">머리말</div>

<h1>스쿨 회원 리스트</h1>

<!-- 회원 리스트 테이블 -->
<table border='1'>
    <thead>
    <tr>
        <th>회원명</th>
        <th>프로필 사진</th>
        <th>회원 등급</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="schoolUser : ${schoolUsers}" data-th-object="${schoolUser}">
        <td data-th-text="*{writer.nickname}">작성자</td>
        <td data-th-text="*{writer.photo}">사진</td>
        <td data-th-text="*{level.levelName}">회원 등급</td>
    </tr>
    </tbody>
</table>

<br>
<br>

<h1>스쿨 게시글 리스트</h1>

<!-- 새 글 추가 링크 -->
<a data-th-href="@{form(schoolNo=${schoolNo})}" href="form.html">새 글</a>

<!-- 검색창 -->
<form id="postSearchForm" action='/post/search' method="post">
    <div>
        <select name="filter">
            <option value="0">내용</option>
            <option value="1">작성자</option>
        </select>
        <input id="searchContent" name='keyword' type='text' placeholder='검색어 입력'>
        <button type="submit">검색</button>
    </div>
</form>

<!-- 관리자 공지 -->
<a data-th-href="@{noticelist(schoolNo=${schoolNo})}" href="noticelist.html">공지 사항</a>

<div id="fixed-post">
    <table border='1' data-th-data-schoolno="${schoolNo}" data-schoolno="100">
        <thead>
        <tr>
            <th>작성자</th>
            <th>사진</th>
            <th>내용</th>
            <th>작성일</th>
            <th>공지 핀</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="post : ${fixlist}" data-th-object="${post}" data-th-data-no="*{no}" data-no="100">
            <td data-th-text="*{writer.nickname}">작성자</td>
            <td data-th-text="*{writer.photo}">사진</td>
            <td><span class="school-post" data-th-text="*{content}" data-th-data-no="*{no}" data-no="100"></span></td>
            <td data-th-text="${#dates.format(post.createdAt,'yyyy-MM-dd')}">작성일</td>
            <td><input type="checkbox" class="post-checkbox" data-th-data-no="*{no}" data-no="100"></td>
        </tr>
        </tbody>
    </table>
</div>


<!--<div id="fixed-post">-->
<!--    <h1>관리자 공지</h1>-->
<!--    <table border='1' data-th-data-schoolno="${schoolNo}" data-schoolno="100">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>작성자</th>-->
<!--            <th>사진</th>-->
<!--            <th>내용</th>-->
<!--            <th>작성일</th>-->
<!--            <th></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->



<!-- 검색 결과 테이블 -->
<div id="searchResult">
    <table border='1' data-th-data-schoolno="${schoolNo}" data-schoolno="100">
        <thead>
        <tr>
            <th>작성자</th>
            <th>사진</th>
            <th>내용</th>
            <th>작성일</th>
            <th>공지 핀</th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable-row" data-th-each="post : ${postlists}" data-th-object="${post}" data-th-data-no="*{no}" data-no="100">
            <td data-th-text="*{writer.nickname}">작성자</td>
            <td data-th-text="*{writer.photo}">사진</td>

            <td><span class="school-post" data-th-text="*{content}" data-th-data-no="*{no}" data-no="100"></span></td>
            <td data-th-text="${#dates.format(post.createdAt,'yyyy-MM-dd')}">작성일</td>
            <td><input type="checkbox" class="post-checkbox" data-th-data-no="*{no}" data-no="100"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- .container -->

<!-- 게시글 카테고리 바꾸기 모달 -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">게시물 상단 고정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                선택한 글을 상단에 고정하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="confirmBtn">확인</button>
            </div>
        </div>
    </div>
</div>

<div data-th-replace="post/view :: modal">포스트 상세보기 모달</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>

    let no;

    let fixedPost = $('#fixed-post tbody');


    $('#confirmBtn').on('click', function() {
        $('#confirmationModal').modal('hide');

        // 선택한 글의 번호를 가져옵니다.
        let no = $(this).data('no');


        // 해당 테이블에 글이 이미 있는지 확인
        if ($('#fixed-post tbody tr').length > 0) {
            // 이미 글이 있는 경우 경고 메시지 표시
            alert('이미 공지글이 등록되어 있습니다. 공지는 한 개만 등록할 수 있습니다.');
            return; // 동작 중지
        }

        $.ajax({
            url: 'fix',
            method: 'POST',
            data: { no: no, categoryNo: 3 },
            success: function(response) {
                alert('공지가 성공적으로 등록되었습니다.');
                $(`tr[data-no="${no}"]`).appendTo(fixedPost);
                console.log(categoryNo);
                // 변경된 categoryNo를 서버에 저장
                saveCategoryNo(no, 3); // postId와 변경된 categoryNo 전달
            },
            error: function(xhr, status, error) {
                alert('공지 등록 실패.');
                //console.error(error);
            }
        });

    });
    // 변경된 categoryNo를 서버에 저장하는 함수
    function saveCategoryNo(no, categoryNo) {
        // AJAX를 통해 postId와 변경된 categoryNo를 서버로 전송하여 데이터베이스에 저장
        $.ajax({
            url: 'saveCategoryNo',
            method: 'POST',
            data: { no: no, categoryNo: categoryNo },
            success: function(response) {
                console.log('categoryNo가 성공적으로 변경되었습니다.');
                console.log(categoryNo, no);
            },
            error: function(xhr, status, error) {
                console.error('categoryNo 변경 실패.');
            }
        });
    }

    // 체크박스 클릭 이벤트 핸들러
    $("#searchResult").on('change', '.post-checkbox', function() {
        if ($(this).prop('checked')) {
            no = $(this).data('no');
            // 모달 표시
            $('#confirmationModal').on('hidden.bs.modal', function () {
                // 모달이 숨겨질 때 체크박스를 해제합니다.
                $('.post-checkbox').prop('checked', false);
            });
            $('#confirmationModal').modal('show');
            // 모달 확인 버튼 클릭 시 업데이트 실행
        }
    });

    //        보류 소스
    //        // 공지글을 상단에 추가하는 함수
    //        function addFixedPost(postId) {
    //            // postId를 이용하여 해당 공지글 정보를 가져와서 테이블에 추가하는 코드를 작성합니다.
    //            // 여기서는 예시로 고정된 텍스트를 추가하도록 하겠습니다.
    //            const fixedPostHtml = `
    //                <tr>
    //                    <td>공지 작성자</td>
    //                    <td>공지 사진</td>
    //                    <td>공지 내용</td>
    //                    <td>공지 작성일</td>
    //                    <td></td>
    //                </tr>
    //            `;
    //            $('#fixedPostTableBody').prepend(fixedPostHtml);
    //            // container에 공지 글을 추가하는 코드
    //            const containerFixedPostHtml = `
    //                <div class="row">
    //                    <div class="col">
    //                        <p>공지 작성자</p>
    //                        <p>공지 내용</p>
    //                    </div>
    //                </div>
    //            `;
    //            $('.container').append(containerFixedPostHtml);
    //        }

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>

    const postModal = new bootstrap.Modal('#postModal', {
        keyboard: false
    })
    let schoolNo = document.querySelector('#searchResult > table').getAttribute('data-schoolno');
    let postList = document.querySelectorAll('.school-post');
    postList.forEach(function(el) {

        el.onclick = function(event) {
            event.preventDefault();
            let no = event.target.getAttribute("data-no");
            console.log(no);

            // 1) post 상세 정보 요청
            $.ajax('view/' + schoolNo, {
                method: 'GET',
                data: {no: no},
                dataType: 'json'
            }).done(function(result) {
                console.log(result);

                // 서버에서 가져온 데이터로 모달창의 입력폼을 초기화시키기
                initModal(result);

                // 모달 창 띄우기
                postModal.show();
            }).fail(function() {
                console.log("실패!");
            });
            // 2) JSON으로 받은 객체를 가지고 모달 창을 띄워서 입력 폼에 값을 채운다.


        }
    });

    function initModal(data) {
        //주어진 데이터로 모달창의 입력폼을 채운다.
        $('#post-form #nickname').val(data.post.writer.nickname);
        $('#post-form #no').val(data.post.no);
        $('#post-form #photo').val(data.post.writer.photo);
        $('#post-form #content').val(data.post.content);

        // createdAt 날짜 데이터를 yyyy-MM-dd 형식으로 변환하는 함수
        function formatDate(date) {
            // 날짜 객체 생성
            var newDate = new Date(date);
            // 년, 월, 일 추출
            var year = newDate.getFullYear();
            var month = newDate.getMonth() + 1;
            var day = newDate.getDate();

            // 월과 일이 한 자리 수인 경우 앞에 0을 추가하여 두 자리로 만듭니다.
            if (month < 10) {
                month = '0' + month;
            }
            if (day < 10) {
                day = '0' + day;
            }

            // yyyy-MM-dd 형식으로 반환
            return year + '-' + month + '-' + day;
        }

        // createdAt 날짜 데이터를 원하는 형식으로 변환하여 입력 폼에 설정
        $('#post-form #createdat').val(formatDate(data.post.createdAt));


        var commentsList = $('#commentsTable').find('tbody');
        commentsList.empty(); // 목록 초기화

        $.each(data.comments, function(index, comment) {
            var listItem = '<tr>' +
            '<td><img src="' + comment.writer.photo + '" alt="프로필 사진"></td>' +
            '<td>' + comment.writer.nickname + '</td>' +
            '<td>' + comment.content + '</td>' +
            '<td>' + formatDate(comment.createdAt) + '</td>' +
            '</tr>';
            commentsList.append(listItem);
        });

        // 파일 목록 출력
        var filesList = $('#filesTable').find('tbody');
        filesList.empty(); // 목록 초기화

        $.each(data.files, function(index, file) {
            var listItem = '<tr>' +
            '<td>' + file.fileName + '</td>' +
            '<td>' + file.type + '</td>' +
            '</tr>';
            filesList.append(listItem);
        });
    }

    $(document).ready(function() {
        // 폼이 제출되었을 때의 동작 설정
        $("#postSearchForm").submit(function(event) {
            // 폼의 기본 동작인 페이지 리로드를 막습니다.
            event.preventDefault();

            // 입력된 content를 가져옵니다.
            var content = $("#searchContent").val();

            // 서버에 검색 요청을 보냅니다.
            $.ajax({
                type: "GET",
                url: "/post/search", // 검색을 처리할 서버의 엔드포인트
                data: { content: content }, // 검색어를 전달합니다.
                success: function(response) {
                    // 검색 결과를 받아와서 HTML로 표시합니다.
                    $("#searchResult").html(response);
                },
                error: function(xhr, status, error) {
                    console.error("검색 요청 실패:", error);
                }
            });
        });
    });





    $("#update").on('click',function() {


        var no = $("#no").val();
        var schoolNo = document.querySelector('#searchResult > table').getAttribute('data-schoolno');
        console.log(no);
        console.log(schoolNo);
        var data = {
            no: no,
            content: $('#content').val(),
            photo: $('#photo').val(),
            nickname: $('#nickname').val(),
            schoolNo: schoolNo
        };
        console.log(data);

        $.ajax({
            url: '/post/update',
            type: 'PUT',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function(result) {
                console.log(result);
                window.location.href="/post/view";
            },
            error: function(xhr, status, error) {
                console.error("글 수정 실패:", error);
            }
        });
    });
</script>

</body>
</html>