<!DOCTYPE html>
<html lang='en' xmlns="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>


<h1>스쿨 게시글 상세 조회</h1>


<input type="hidden" data-th-value="*{no}" name='no'>
<input type="hidden" data-th-value="*{schoolNo}" name='schoolNo'>


<a data-th-text="*{content}">내용</a>

<form action="view" data-th-object="${post}" enctype='multipart/form-data' method='get'>



<div>
   이름 : <input data-th-value="*{writer.nickname}" name='writer.nickname' readonly type='text' value="100">
</div>
<div>
  번호 : <input data-th-value="*{no}" name='no' readonly type='text' value="100">
</div>
<div>
  사진 : <input data-th-value="*{writer.photo}" name='writer.photo' readonly type='text' value="사진입니다">
</div>
<div>
  내용 : <input data-th-value="*{content}" name='content' readonly type='text' value="내용입니다">
</div>
<div>
  작성일 <input data-th-value="${#dates.format(post.createdAt,'yyyy-MM-dd')}" name='createdAt' readonly type='text' value="날짜">
</div>
</form>

<h3>댓글 목록</h3>

<table>
  <tbody>
<tr th:each="comment : ${comments}" th:object="${comment}">
  <td><a th:text="*{writer.photo}"></a></td>
  <td><a th:text="*{writer.nickname}"></a></td>
  <td><a th:text="*{content}"></a></td>
  <td><a th:text="${#dates.format(comment.createdAt,'yyyy-MM-dd')}"></a></td>


</tr>
</tbody>
</table>
<br>

<input multiple name='comment' type='comment'>

<br>
<button>댓글 등록</button>
<br>

<h3>파일 첨부 목록</h3>

<table>
  <tbody>

  <tr th:each="file : ${files}" th:object="${file}">
    <td><a th:text="*{fileName}"></a></td>
    <td><a th:text="*{type}"></a></td>
  </tr>
  </tbody>
</table>
<br>
<input multiple name='attachedFiles' type='file'>
<br>
<br>


<!--    <td data-th-text="*{no}" href="view.html">번호</td>-->
<!--    <td data-th-text="*{writer.photo}">사진</td>-->
<!--    <td data-th-href="@{view(postNo=$postNo})}" data-th-text="*{content}"-->
<!--        href="view.html">내용</td>-->
<!--    <td data-th-text="${#dates.format(post.createdAt,'yyyy-MM-dd')}">작성일</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--  </table>-->

<!--<tr data-th-each="comment : ${comments}" data-th-object="${comment}">-->
<!--<div>-->
<!--  <td><a data-th-href="@{view(no=*{no})}" data-th-text="*{photo}"-->
<!--         href="view.html"></a></td>-->
<!--  <a data-th-text="*{nickname}">이름</a>-->
<!--  <a data-th-text="*{content}">내용</a>-->
<!--  <a data-th-text="*{createdAt}">댓글작성일</a>-->
<!--  </tr>-->


</body>
</html>