<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
  <form action="add" data-th-action="@{add}" enctype='multipart/form-data' method='post'>
    <div>
      스쿨 이름 : <input name='email' type='text'>
    </div>
    <div>
      사진: <input name='file' type='file'>
    </div>
    <div>

    </div>
    <div>
      <h2>관심사 선택</h2>
    </div>

    <tbody>
    <tr data-th-each="tag : ${tags}">
      <td>
        <input type="checkbox" data-th-checkbox="true" name="tagNums" data-th-value="${tag.no}">
      </td>
      <td>
        <span data-th-text="${tag.name}" >1</span>
      </td>
      <data-th-block data-th-if="${tag.no == 0 or tag.no % 4 ==0}">
        <br>
      </data-th-block>
    </tr>
    </tbody>
<button>스쿨 설정</button><br>
<div>
  <a href="">게시글</a>
  <a href="">회원 조회</a>
  <a href="">일정 등록</a>
</div>



<div data-th-each="post : ${postlists}" data-th-object="${post}">
  <input type="hidden" value="*{schoolNo}">
  <td data-th-text="*{no}">번호</td>
<!--  <a data-th-text="*{name}">이름</a>-->
  <a data-th-text="*{content}">내용</a>
<!--  <a data-th-text="*{photo}">사진<</a>-->
  <a data-th-text="*{createdAt}">작성일</a>
</div>
  </form>
</body>
</html>