<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>moyeora</title>
  <link href="/css/auth.css" rel="stylesheet"/>
  <th:block th:replace="common/bootstrap :: bootstrap"></th:block>
</head>
<body>


<div data-th-if="${email == null}" class="login-form-wrap result rounded">
  <div class="title">이메일 찾기</div>
  <form  data-th-action="@{getEmail}" method="post">
    <label for="name"></label>
    <input id="name" name="name" type="text" placeholder="name">

    <label for="phone"></label>
    <input id="phone" name="phone" type="text" placeholder="phone number : ex) 01012345678">
    <button type="submit" class="mt-4" onclick="return checkForm()">확인</button>
  </form>
</div>


<div class="login-form-wrap result rounded" data-th-if="${email != null && email != 'none'}">
  <p>가입한 이메일 : [[${email}]]</p>
  <div class="btn-wrap mt-2">
    <a data-th-href="@{form}">로그인</a>
    <a data-th-href="@{findPassword}">비밀번호 찾기</a>
  </div>
</div>

<div class="login-form-wrap result rounded" data-th-if="${email == 'none'}">
  <span>가입정보가 없습니다.</span>
  <div class="btn-wrap mt-2">
    <a data-th-href="@{signIn}">회원가입</a>
  </div>
</div>

<script>
  function checkForm() {
    var name = document.getElementById("name").value;
    if ( name == null || name == "" || name.length < 1 ) {
      alert("이름을 입력하세요.");
      return false;
    }
    var phone = document.getElementById("phone").value;
      if ( phone == null || phone == "" || phone.length < 1 ) {
      alert("번호를 입력하세요.");
      return false;
    }
  }
</script>

</body>
</html>