<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>moyeora</title>
  <link href="/css/auth.css" rel="stylesheet"/>
  <th:block th:replace="common/bootstrap :: bootstrap"></th:block>
</head>
<body>



<div class="login-form-wrap result rounded" data-th-if="${status == 'request'}">
  <div class="title">비밀번호 찾기</div>
  <form data-th-action="@{sendEmail}" method="post">
    <label for="email"></label>
    <input id="email" name="email" type="email" data-th-value="${email}" placeholder="email">
    <button type="submit" class="mt-4" onclick="return checkForm()">인증코드전송</button>
  </form>
</div>


<div data-th-if="${status == 'email not found'}" class="message">
  <p data-th-text="${status}">ㄴㅇㄹㄴㅇㄹㄴㄹㄹ</p>
</div>

<div class="login-form-wrap result rounded" data-th-if="${status == 'sent'}">
  <div class="title">인증번호</div>
  <form data-th-action="@{verifyCode}" method="post">
    <div>
      <label for="code"></label>
      <input id="code" name="code" type="text" placeholder="code">
      <input name="authId" data-th-value="${authId}" type="hidden">
    </div>
    <button type="submit" onclick="return checkForm()">확인</button>
  </form>
</div>

<div data-th-if="${status == 'updated'}" class="message">
  <p>가입하신 이메일로 임시 패스워드가 전송되었습니다. </p>
  <p><a data-th-href="@{form}">로그인</a> 후 재설정해 주시기 바랍니다.</p>
</div>




<script>
  function checkForm() {
    var email = document.getElementById("email").value;
    if ( email == null || email == "" || email.length < 1 ) {
      alert("이메일을 입력하세요.");
      return false;
  }
    var code = document.getElementById("code").value;
    if ( code == null || code == "" || code.length < 1 ) {
      alert("인증코드를 입력해주세요.");
      return false;
    }
  }
</script>

</body>
</html>