<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>moyeora login</title>
  <link href="/css/auth.css" rel="stylesheet"/>

</head>
<body>

<div class="logo-container">
  <a href="/home"><img class="logo" src="/img/moyeora-logo.png"></a>
</div>

<form id="loginForm" data-th-action="@{login}" method="post">
  <div>
    <label>
      <input id="email" data-th-value="${email}" name="email" type="text" placeholder="email">
    </label>
  </div>
  <div>
    <label>
      <input id="password" name="password" type="password" placeholder="password">
    </label>
  </div>
  <button type="submit" onclick="return checkForm()">로그인</button>
  <label>
    <input name="saveEmail" type="checkbox">이메일 저장
  </label>
</form>

<a data-th-href="@{findEmail}">이메일 찾기</a>
<a data-th-href="@{findPassword}">비밀번호 찾기</a>
<a data-th-href="@{/user/form}">회원가입</a>
<div style="board:1px; font-size:15px; color:gray;">
    <span>간편 로그인 : </span>
    <a data-th-href="@{/oauth2/authorization/naver}">네이버 로그인</a>
    <a data-th-href="@{/oauth2/authorization/google}">구글 로그인</a>
    <a data-th-href="@{/oauth2/authorization/kakao}">카카오 로그인</a>
</div>

<div data-th-replace="footer :: footer">꼬리말</div>

<script>
    function checkForm() {
        var email = document.getElementById("email").value;
        if ( email == null || email == "" || email.length < 1 ) {
            alert("이메일을 입력하세요.");
            return false;
        }
        var password = document.getElementById("password").value;
        if ( password == null || password == "" || password.length < 1 ) {
            alert("비밀번호를 입력하세요.");
            return false;
        }
    }
</script>

</body>

</html>