<!--<!DOCTYPE html>-->
<!--<html lang='en'>-->
<!--<head>-->
<!--  <meta charset='UTF-8'>-->
<!--  <title>비트캠프 데브옵스 5기</title>-->
<!--</head>-->
<!--<body>-->


<!--<h1>스쿨 회원 목록</h1>-->

<!--<table border='1'>-->
<!--  <thread>-->
<!--    <tr>-->
<!--      <th>회원명</th>-->
<!--      <th>프로필 사진</th>-->
<!--      <th>회원 등급</th>-->
<!--      <th>가입일</th>-->
<!--    </tr>-->
<!--  </thread>-->
<!--  <tbody>-->


<!--  <input type="hidden" value="*{schoolNo}" name='schoolNo'>-->
<!--  <tr data-th-each="schoolUser : ${schoolUsers}" data-th-object="${schoolUser}">-->
<!--    <td data-th-text="*{writer.nickname}">작성자</td>-->
<!--    <td data-th-text="*{writer.photo}">사진</td>-->
<!--      <a data-th-href="*{levels.levelName}">회원 등급</a>-->
<!--    <td data-th-text="${#dates.format(schoolUser.createdAt,'yyyy-MM-dd')}">가입일</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
